// All
html {
    overflow: hidden;
}

body {
    overflow: hidden;
}

// Generic classes
.hidden {
    overflow: hidden;
}

// Loader
.main-loader-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 999;
    background-color: $white;
}

.main-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    // width: 60px;
    // height: 60px;
    -ms-transform: translate(-50%, -50%);
    /* IE 9 */
    -webkit-transform: translate(-50%, -50%);
    /* Safari */
    transform: translate(-50%, -50%);
    /* Standard syntax */
    & > div > div {
        opacity: 0.8;
        background-color: $rojo_1;
    }
}

// Text
// AS icon
.as-icon {
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1rem;
    color: $azul_2;
    background-color: $azul_1;
    border-radius: 0.2rem;
}

// Header page
div.header-page {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0.9rem 0;
    background-color: $white;
}

// Main nav
div.main-nav {
    font-size: 1.15rem;
    background-color: $white;
    ul.nav {
        li.nav-item {
            a.nav-link {
                &:not(.as-icon) {
                    @include link($gray-700, $gray-800);
                }
                &.as-icon {
                    @include link($azul_2, $azul_2, none, none, $azul_1, $azul_1);
                    display: inline-block;
                    margin: 0.3rem 1rem 0.5rem 1rem;
                    padding: 0.65rem;
                    line-height: 100%;
                    pointer-events: none;
                    span.fa-times-span {
                        display: none;
                    }
                }
            }
        }
    }
}

// RRSS header menu
div.rrss-header-menu {
    ul.nav {
        justify-content: flex-end !important;
        li.nav-item {
            a.nav-link {
                @include link($azul_3, $azul_3);
                padding: 0.6rem 0.7rem;
                font-size: 1.4rem;
            }
        }
    }
}

// Main section
div.main-section {
    padding: 7rem 7rem 3rem 7rem;
}

// Footer
div.footer {
    @include text($roboto, 0.875rem, 400, normal, $gray-700, center);
    padding: 2rem 0 2rem 0;
    background-color: $white;
    a {
        @include link($gray-700, $gray-700);
    }
    span.footer-copy {
        display: block;
    }
    div.rrss-header-menu {
        ul.nav {
            justify-content: center !important;
            li.nav-item {
                a.nav-link {
                    @include link($white, $white);
                    padding: 0.3rem 1.5rem;
                    font-size: 2rem;
                }
            }
        }
    }
}

// GRID COMPONENT
@include media-breakpoint-only(xs) {
    html {
        font-size: $font-size-xs;
    } // Header page
    div.header-page {
        padding: 0; // Open
        &.header-page-open {
            height: 100%;
            opacity: 0.98;
            z-index: 999;
            div.main-nav {
                ul.nav {
                    li.nav-item {
                        display: block;
                        &.nav-item-branded {
                            padding-bottom: 2rem;
                            a.nav-link {
                                &.as-icon {
                                    @include link($rojo_1, $rojo_1, none, none, transparent, transparent);
                                    padding: 0;
                                    font-size: 4rem;
                                    span.as-icon-span {
                                        display: none;
                                    }
                                    span.fa-times-span {
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    } // Main nav
    div.main-nav {
        font-size: 3rem;
        text-align: center;
        ul.nav {
            flex-direction: column !important;
            li.nav-item {
                display: none;
                &.nav-item-branded {
                    display: block;
                    text-align: right;
                    a.nav-link {
                        &.as-icon {
                            margin: 1.5rem;
                            padding: 1rem;
                            font-size: 1.5rem;
                            pointer-events: auto;
                            span.as-icon-span {
                                display: block;
                            }
                            span.fa-times-span {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    } // Main section
    div.main-section {
        padding: 9rem 0 3rem 0;
    }
    div.footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0;
        font-size: 1rem;
        color: $white;
        background-color: $rojo_1;
    }
}

@include media-breakpoint-only(sm) {
    html {
        font-size: $font-size-sm;
    }
}

@include media-breakpoint-only(md) {
    html {
        font-size: $font-size-md;
    }
}

@include media-breakpoint-only(lg) {
    html {
        font-size: $font-size-lg;
    }
}

@include media-breakpoint-only(xl) {
    html {
        font-size: $font-size-xl;
    }
}