// All
html {}

body {}

// Generic classes
.hidden {
    overflow: hidden;
}

// Text
// AS icon
.as-icon {
    font-size: 0.8rem;
    font-weight: 400;
    color: $gray-900;
    line-height: 1rem;
    background-color: $yellow;
    border-radius: 0.2rem;
}

// Header page
div.header-page {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0.9rem 0;

    background-color: $white;
}

// Main nav
div.main-nav {
    font-size: 1.15rem;
    background-color: $white;

    ul.nav {
        li.nav-item {
            a.nav-link {
                &.as-icon {
                    display: inline-block;
                    margin: 0.3rem 1rem 0.5rem 1rem;
                    padding: 0.65rem;

                    line-height: 100%;

                    span.fa-times-span {
                        display: none;
                    }
                }
            }
        }
    }
}

// RRSS header menu
div.rrss-header-menu {
    ul.nav {
        li.nav-item {
            a.nav-link {
                @include link($gray-300, $gray-200);
                padding: 0.6rem 0.7rem;
                font-size: 1rem;
            }
        }
    }
}

// Main section
div.main-section {
    padding: 7rem 0 3rem 0;
}

// Footer
div.footer {
    @include text($roboto, 0.875rem, 400, normal, $gray-500, center);
    padding: 2rem 0 3rem 0;
    a {
        @include link($gray-500, $gray-500);
    }
    span.footer-copy {
        display: block;
    }
    span.as-icon {
        display: inline-block;
        margin: 1rem 0.8rem 0.5rem 0.8rem;
        padding: 0.2rem 0.4rem;
        background-color: $gray-200;
        color: $white;
    }
}

// GRID COMPONENT
@include media-breakpoint-only(xs) {
    html {
        font-size: $font-size-xs;
    }

    // Header page
    div.header-page {
        padding: 0;

        // open
        &.header-page-open {
            height: 100%;
            opacity: 0.9;

            div.main-nav{
                ul.nav {
                    li.nav-item {
                        display: block;

                        &.nav-item-branded {
                            padding-bottom: 5rem;

                            a.as-icon {
                                // margin-right: 2.7rem;
                                padding: 0;

                                font-size: 4rem;
                                color: $yellow;
                                background-color: transparent;

                                span.as-icon-span {
                                    display: none;
                                }

                                span.fa-times-span {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }

        // closed && default
        div.main-nav{
            ul.nav {
                flex-direction: column !important;

                li.nav-item {
                    display: none;

                    &.nav-item-branded {
                        display: block;
                        text-align: right;

                        a.as-icon {
                            margin: 2rem 2rem 1.5rem 1rem;
                            padding: 1rem;

                            font-size: 2rem;
                            font-weight: 300;

                            span.as-icon-span {
                                display: block;
                            }

                            span.fa-times-span {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    // Main nav
    div.main-nav{
        font-size: 3rem;
        text-align: center;
    }

    // Main section
    div.main-section {
        padding-top: 10rem;
    }
}

@include media-breakpoint-only(sm) {
    html {
        font-size: $font-size-sm;
    }
}

@include media-breakpoint-only(md) {
    html {
        font-size: $font-size-md;
    }
}

@include media-breakpoint-only(lg) {
    html {
        font-size: $font-size-lg;
    }
}

@include media-breakpoint-only(xl) {
    html {
        font-size: $font-size-xl;
    }
}