// Body
body {}

// Text
// AS icon
.as-icon {
    font-size: 0.8rem;
    font-weight: 400;
    color: $gray-900;
    line-height: 1rem;
    background-color: $yellow;
    border-radius: 0.2rem;
}

// Header page
div.header-page {
    padding: 0.9rem 0;

    .as-icon {
        margin: 0.3rem 1rem 0.5rem 1rem;
        padding: 0.5rem 0.65rem;
    }
}

// Main nav
div.main-nav {
    font-size: 1.15rem;

    ul.nav {
        li.nav-item {
            a.nav-link {

            }
        }
    }
}

// RRSS header menu
div.rrss-header-menu {
    ul.nav {
        li.nav-item {
            a.nav-link {
                @include link($gray-300, $gray-400);
                padding: 0.6rem 0.7rem;

                font-size: 1rem;
            }
        }
    }
}

// Main section
div.main-section {
    padding: 5rem 0 3rem 0;
}

// Footer
div.footer {
    @include text($roboto, 0.875rem, 400, normal, $gray-500, center);
    padding: 2rem 0 3rem 0;

    a {
        @include link($gray-500, $gray-500);
    }

    span.footer-copy {
        display: block;
    }

    span.as-icon {
        display: inline-block;
        margin: 1rem 0.8rem 0.5rem 0.8rem;
        padding: 0.2rem 0.4rem;

        background-color: $gray-200;
        color: $white;
    }
}

// GRID COMPONENT
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}