// Colours, https://coolors.co/
// Fonts
$roboto: 'Roboto',sans-serif;
$noto: 'Noto Sans',sans-serif;
// Fonts sizes
$font-size-base: 1.25rem !default; // Assumes the browser default, typically `16px`
$font-size-xs: ($font-size-base * 0.5) !default;
$font-size-sm: ($font-size-base * 0.675) !default;
$font-size-md: ($font-size-base * 0.875) !default;
$font-size-lg: ($font-size-base * 0.875) !default;
$font-size-xl: ($font-size-base * 0.875) !default;
