// All
html {
    overflow: hidden;
}

body {
    overflow: hidden;
}

h1, h2, h3, h4, h5 {
    color: $azul_3;
}

// Generic classes
.hidden {
    overflow: hidden;
}

// Header page
div.header-page {
    // @include boxshadow(0, 0, 2.8rem, $negro_2);
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: $azul_3;
    // border-bottom: 2px solid $rojo_1;
}

// Page title
div.page-title {
    height: 300px;
    width: 100%;
    background-color: #ca1237;

    h1 {
        color: $blanco_1;
    }
}

// Main nav
div.main-nav {
    font-size: $font-size-base;

    ul.nav {
        li.nav-item {
            &.nav-item-branded {
                display: none;
                text-align: right;

                a.menu-icon {
                    @include link($rojo_1, $rojo_1, none, none, transparent, transparent);
                    display: inline-block;
                    margin: 0.5rem 0.5rem 0.2rem 0.5rem;
                    padding: 0.5rem;
                    font-size: 2.5rem;
                    line-height: 100%;
                    pointer-events: auto;
                }
            }

            a.nav-link {
                @include link($white, $white, none, none, transparent, transparent);
                padding: 0.9rem 1rem 0.9rem 1rem;

                &.active {
                    background-color: $rojo_2;
                }
            }
        }
    }
}

// Main section
div.main-section {
    padding: 7rem 4rem 3rem 4rem;
}

// Footer
div.footer {
    @include text($noto, 0.9rem, 400, normal, $gray-500, center);
    padding: 1rem 0 5rem 0;
    background-color: $blanco_3;

    p {
        margin-bottom: $spacer / 2;
    }

    a {
        @include link($gray-500, $gray-500, none, none);
    }

    ul.nav {
        li.nav-item {
            a.nav-link {
                @include link($gray-500, $gray-500, none, none);
                font-size: 1.3rem;
            }
        }
    }
}

// Fixed menu
.fixed-menu {
    button.dropdown-toggle {
        @include border(0, 100%);
        @include boxshadow(0, 0.4rem, 1rem, $gris_2);
        position: fixed;
        bottom: 10rem;
        right: 2rem;
        padding: 1.375rem 1.75rem;

        &:after {
            content: none;
        }
    }

    div.dropdown-menu {
        @include boxshadow(0, 0.4rem, 1rem, $gris_2);
    }
}

// GRID COMPONENT
@include media-breakpoint-only(xs) {
    html {
        font-size: $font-size-xs;
    }

    // Main nav
    div.main-nav {
        text-align: center;

        ul.nav {
            // justify-content: center !important;
            flex-direction: column !important;

            li.nav-item {
                display: none;

                &.nav-item-branded {
                    display: block;

                    a.menu-icon {
                        font-size: 2.2rem;

                        .fa-ellipsis-v {
                            display: block;
                        }

                        .fa-angle-up {
                            display: none;
                        }
                    }
                }

                a.nav-link {
                    @include link($white, $rojo_1, none, none, transparent, transparent);
                }
            }
        }
    }

    // Header page
    div.header-page {
        padding: 0; // Open

        &.header-page-open {
            height: 100%;
            opacity: 0.98;
            z-index: 999;
            border-bottom: 0;

            div.main-nav {
                font-size: 3.5rem;

                ul.nav {
                    li.nav-item {
                        display: block;

                        &.nav-item-branded {
                            padding-bottom: 0;

                            a.menu-icon {
                                padding: 0;
                                font-size: 3rem;

                                .fa-ellipsis-v {
                                    display: none;
                                }

                                .fa-angle-up {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // Main section
    div.main-section {
        padding: 9rem 0 3rem 0;
    }

    // Footer
    div.footer {
        padding-bottom: 1rem;
    }

    // Fixed menu
    .fixed-menu {
        button.dropdown-toggle {
            bottom: 8rem;
            right: 1rem;
        }
    }
}

@include media-breakpoint-only(sm) {
    html {
        font-size: $font-size-sm;
    }

    div.main-nav {
        ul.nav {
            justify-content: center !important;
        }
    }

    // Main section
    div.main-section {
        padding: 7rem 0 3rem 0;
    }

    // Fixed menu
    .fixed-menu {
        button.dropdown-toggle {
            bottom: 8rem;
            right: 1rem;
        }
    }
}

@include media-breakpoint-only(md) {
    html {
        font-size: $font-size-md;
    }

    // Main section
    div.main-section {
        padding: 7rem 0 3rem 0;
    }
}

@include media-breakpoint-only(lg) {
    html {
        font-size: $font-size-lg;
    }
}

@include media-breakpoint-only(xl) {
    html {
        font-size: $font-size-xl;
    }
}