// All
html {
    overflow: hidden;
}

body {
    padding-top: $hader-page-height;
    overflow: hidden;
}

iframe {
    width: 100%;
}

// h1,
// h2,
// h3,
// h4,
// h5 {
//     color: $azul_3;
// }

// Generic classes
.hidden {
    overflow: hidden;
}

// Header page
div.header-page {
    position: fixed;
    // height: $hader-page-height;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: $blanco_1;
    box-shadow: 0 0 3px rgba(0, 0, 0, .03), 0 3px 46px rgba(0, 0, 0, .07);
    // border-bottom: 2px solid $body_color;

    div.header-logo {
        @include text($noto, 1.25rem, 400, normal, $body_color, left, none, 1.85rem);

        a {
            @include link($body_color, $body_color, none, none, transparent, transparent);
            display: block;
            padding: $header-page-element-padding 0;
        }
    }
}

// Page title
div.page-title {
    width: 100%;
    padding: 2rem 0 2rem 0;
    // background-image: url($imgfolder + "background-page-title.svg") top right;
    background-repeat: no-repeat;
    background-color: $body_color;
    box-shadow: inset 0px -5px 10px rgba(0, 0, 0, .1);

    h1 {
        @include text($noto, 1.15rem, 700, normal, $blanco_1);
        margin-bottom: 0;
        letter-spacing: 0.3rem;
    }
}

// Main nav
div.main-nav {
    // font-size: $font-size-base;

    ul.nav {
        li.nav-item {
            &.nav-item-branded {
                display: none;
                text-align: right;

                a.menu-icon {
                    @include link($body_color, $body_color, none, none, transparent, transparent);
                    display: inline-block;
                    margin: 0.5rem 0.5rem 0.2rem 0.5rem;
                    padding: 0.5rem;
                    font-size: 2.5rem;
                    line-height: 100%;
                    pointer-events: auto;
                }
            }

            a.nav-link {
                @include link($body_color, $body_color, none, none, transparent, transparent);
                padding: $header-page-element-padding 1.2rem;
                margin: 0 0.2rem;
                letter-spacing: 0.1rem;
            }
        }
    }
}

// rrss nav
div.rrss-nav {
    ul.nav {
        li.nav-item {
            a.nav-link {
                @include link($body_color, $body_color, none, none, transparent, transparent);
                padding: $header-page-element-padding 1rem;
            }
        }
    }
}

// Main section
div.main-section {
    // background-color: $blanco_4;

    div.main-aside {
        position: sticky;
        top: 4rem;
        padding: 2rem 0 0 0;

        div.list-group {
            a.list-group-item {
                @include link($body-color, $body-color, none, none, transparent, transparent);
                padding: 0.75rem 0;
                border: 0;
                word-break: break-all;
            }
        }
    }

    div.main-content {
        padding: 3rem 0 5rem 0;
        // background-color: $blanco_1;
        // box-shadow: rgba(0, 0, 0, 0.02) 0px 0px 5px, rgba(0, 0, 0, 0.1) 0px 5px 22px -8px;
        // border-radius: 0.8rem;
        // border-top-left-radius: 0px;
        // border-top-right-radius: 0px;
    }
}

// Footer
div.footer {
    @include text($inter, 0.9rem, 400, normal, $body-color, center);
    padding: 1rem 0 5rem 0;
    background-color: $blanco_1;
    border-top: 1px solid $gris_5;

    // p {
    //     margin-bottom: $spacer / 2;
    // }

    // a {
    //     @include link($gray-500, $gray-500, none, none);
    // }

    // ul.nav {
    //     li.nav-item {
    //         a.nav-link {
    //             @include link($gray-500, $gray-500, none, none);
    //             font-size: 1.3rem;
    //         }
    //     }
    // }
}

// GRID COMPONENT
@include media-breakpoint-only(xs) {
    html {
        font-size: $font-size-xs;
    }

    // Main nav
    div.main-nav {
        text-align: center;

        ul.nav {
            // justify-content: center !important;
            flex-direction: column !important;

            li.nav-item {
                display: none;

                &.nav-item-branded {
                    display: block;
                    // margin-bottom: 0.1rem;

                    a.menu-icon {
                        font-size: 2.2rem;

                        .fa-ellipsis-v {
                            display: block;
                        }

                        .fa-angle-up {
                            display: none;
                        }
                    }
                }

                a.nav-link {
                    @include text($noto);
                    @include link($blanco_1, $blanco_1, none, none, transparent, transparent);
                    margin: 0;
                    padding: 2.2rem;
                    font-size: 3.5rem;

                    // &.active,
                    // &:active {
                    //     color: $body_color;
                    // }
                }
            }
        }
    }

    // Header page
    div.header-page {
        padding: 0; // Open

        &.header-page-open {
            height: 100%;
            opacity: 0.98;
            z-index: 999;
            border-bottom: 0;
            background-color: $body_color;

            div.main-nav {
                font-size: 3.5rem;

                ul.nav {
                    li.nav-item {
                        display: block;
                        line-height: 100%;

                        &.nav-item-branded {
                            padding-bottom: 0;

                            a.menu-icon {
                                @include link($blanco_1, $blanco_1, none, none, transparent, transparent);
                                margin-top: 1rem;
                                padding: 0;
                                font-size: 3rem;

                                .fa-ellipsis-v {
                                    display: none;
                                }

                                .fa-angle-up {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    div.main-section {
        // & > div.container {
        //     max-width: 100%;
        // }

        div.main-content {
            padding: 3rem 1rem;
        }
    }

    // Page title
    // div.page-title {
    //     padding: 6rem 0 1.5rem;

    //     // h1 {
    //     //     text-align: center;
    //     // }
    // }

    // Footer
    div.footer {
        padding-bottom: 1rem;
    }
}

@include media-breakpoint-only(sm) {
    html {
        font-size: $font-size-sm;
    }

    // Main section
    // div.main-section {
    //     & > div.container {
    //         max-width: 100%;
    //     }

    //     div.main-content {
    //         padding: 3rem 1rem;
    //     }
    // }

    div.main-nav {
        ul.nav {
            justify-content: center !important;
        }
    }

    // Page title
    // div.page-title {
    //     padding: 6.8rem 0 2rem 0;
    // }
}

@include media-breakpoint-only(md) {
    html {
        font-size: $font-size-md;
    }

    div.main-nav {
        ul.nav {
            li.nav-item {
                a.nav-link {
                    margin: 0;
                }
            }
        }
    }

    // Main section
    // div.main-section {
    //     padding: 7rem 0 3rem 0;
    // }

    // Page title
    // div.page-title {
    //     padding: 6.5rem 0 2rem 0;
    // }
}

@include media-breakpoint-only(lg) {
    html {
        font-size: $font-size-lg;
    }

    div.main-nav {
        ul.nav {
            li.nav-item {
                a.nav-link {
                    margin: 0;
                }
            }
        }
    }
}

@include media-breakpoint-only(xl) {
    html {
        font-size: $font-size-xl;
    }
}