// Colours, https://coolors.co/
$azul_1: #55d7c4;
$azul_2: #55d7c480;
$rojo_1: crimson;
$rojo_2: #d4939d;
$negro_1: #000;
$negro_2: #2c2c2c;
$blanco_1: #FFF;
$blanco_2: #eee;

// Fonts
$roboto: 'Roboto',sans-serif;
$noto: 'Noto Sans',sans-serif;
// Fonts sizes
$font-size-base: 1.25rem !default; // Assumes the browser default, typically `16px`
$font-size-xs: ($font-size-base * 0.6) !default;
$font-size-sm: ($font-size-base * 0.675) !default;
$font-size-md: ($font-size-base * 0.725) !default;
$font-size-lg: ($font-size-base * 0.725) !default;
$font-size-xl: ($font-size-base * 0.725) !default;
