// General

body {
    font-family: 'Inter';
    font-size: 14px;
    line-height: 22.5px;
    color: #010101;
    font-weight: 400;
    background: #f4f4f4;
}

textarea {
    resize: none;
}

// Typography

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    line-height: 1em;
    color: #010101;
}

h1 {
    font-size: 36px;
    font-weight: 700;
}

h2 {
    font-size: 18px;
    font-weight: 700;
}

h3 {
    font-size: 14px;
    font-weight: 700;
}

h4 {
    font-size: 15px;
    font-weight: 500;
}

h5 {
    font-size: 15px;
    font-weight: 500;
}

h6 {
    font-size: 15px;
}

// Link style

a {
    color: #010101;
    text-decoration: none;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    outline: none;

    &:active,
    &:focus,
    &:active {
        text-decoration: none;
        outline: none;
    }

    &:hover,
    &:focus {
        text-decoration: none;
        color: #010101;
    }
}

p {
    margin-bottom: 20px;
}

strong {
    color: #010101;
}

ul {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    padding-left: 20px;
    list-style: square;
}

// main Wrapper

.main-wrapper {
    overflow: hidden;
}

// Section Wrapper

.section-wrapper {
    padding: 50px 0;
}

// Section Title

h2.section-title {
    margin-right: 30px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #010101;
    text-transform: uppercase;
    text-align: right;
}

// NAVIGATION & HEADER STYLE

.header {
    padding: 50px 0 20px 0;
    margin: 0;
    position: relative;
    border-top: 5px solid #333;

    .profile-img {
        display: block;
        text-align: center;

        img {
            width: 100%;
        }
    }

    .name-wrapper {
        margin-bottom: 30px;

        h1 {
            text-transform: uppercase;
            line-height: 1;
            margin: 0 0 5px;
        }

        span {
            font-size: 24px;
            color: #010101;
        }
    }

    .personal-details {
        margin: 10px 0;

        strong {
            font-size: 13px;
            color: #010101;
            display: block;
            line-height: 1;
        }

        small {
            font-size: 12px;
        }

        span {
            color: #010101;
        }
    }
}

// Social Icon

.social-icon {
    margin: 15px 0 0 0;
    padding: 0;
    display: block;
    text-align: center;

    li {
        display: inline-block;
        margin: 0 15px;

        a {
            display: block;
            font-size: 20px;
            color: #010101;
            line-height: 46px;
            text-align: center;
            border-radius: 2px;
        }
    }
}

// Skills Progressbar

.skills-wrapper {
    .col-md-6 {
        &:last-child {
            .progress-wrapper {
                margin-bottom: 0;
            }
        }
    }
}

.progress-wrapper {
    margin-bottom: 75px;

    h3 {
        font-size: 12px;
        text-align: center;
        text-transform: uppercase;
    }

    &.progress-wrapper-frontend {
        .progress-item {
            .progress-bar {
                background-color: crimson;
            }
        }
    }

    &.progress-wrapper-backend {
        .progress-item {
            .progress-bar {
                background-color: #337ab7;
            }
        }
    }

    &.progress-wrapper-sistemas {
        .progress-item {
            .progress-bar {
                background-color: #34a853;
            }
        }
    }

    &.progress-wrapper-versiones {
        .progress-item {
            .progress-bar {
                background-color: #fbbc05;
            }
        }
    }

    &.progress-wrapper-dependencias {
        .progress-item {
            .progress-bar {
                background-color: #6b23ae;
            }
        }
    }
}

.progress-item {
    position: relative;

    .progress-title {
        display: block;
        margin-bottom: 2px;
        font-size: 12px;
        font-weight: 400;
        font-style: italic;
    }

    .progress {
        height: 1px;
        margin-bottom: 15px;
        box-shadow: none;
        border-radius: 0;
        background: transparent;
    }

    .progress-bar {
        background-color: #010101;
        box-shadow: none;
        text-align: right;

        animation-name: animateBar;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: .4s;
    }
}

// Market Place Profile

.profile-item {
    margin-bottom: 80px;

    h3 {
        font-size: 18px;
        text-transform: uppercase;
    }

    h4 {
        margin-bottom: 5px;
        font-size: 13px;
        font-weight: 700;
    }

    .media-left {
        padding-right: 35px;
    }

    a {
        text-decoration: underline;

        &:hover {
            color: #010101;
        }
    }

    .profile-item-batch {
        margin-bottom: 25px;
    }

    .badge {
        font-weight: 400;
        background-color: #666;
        color: #FFF;
    }

    .profile-item-batch-frontend {
        .badge {
            background-color: crimson;
        }
    }

    .profile-item-batch-backend {
        .badge {
            background-color: #337ab7;
        }
    }

    .profile-item-batch-despliegues {
        .badge {}
    }

    .profile-item-batch-sistemas {
        .badge {
            background-color: #34a853;
        }
    }

    .profile-item-batch-versiones {
        .badge {
            background-color: #fbbc05;
        }
    }

    .profile-item-batch-dependencias .badge {
        background-color: #6b23ae;
    }

    .profile-item-batch-ma {
        .badge {}
    }

    .profile-item-batch-otros {
        .badge {}
    }

    .profile-item-batch-accesibilidad {
        .badge {}
    }

    .profile-item-batch-dgrafico {
        .badge {}
    }
}

// Section Profile

.section-profile {
    .profile-item {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

// Content Item

.content-item {
    margin-bottom: 40px;

    h3 {
        margin: 0;
        line-height: 1.8em;
        font-weight: bold;
        text-transform: uppercase;
    }

    h4 {
        margin: 0;
        line-height: 1.8em;
    }

    small {
        color: #010101;
    }
}

/* --------------------------------------------
 *   Footer
 *---------------------------------------------- */

/* Copyright */

.footer {
    padding: 45px 0 80px;
    font-size: 12px;
    background-color: #EEE;

    a {
        i {
            font-size: 16px;
        }
    }
}

// Preloader

.preloader {
    background: #FFF;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

.status,
.status-mes {
    background-image: url(../../img/puff.svg);
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
}

.status-mes {
    background: none;
    left: 0;
    margin: 0;
    text-align: center;
    top: 65%;
}

// Extra media resolutions

@media (max-width : 768px) {
    body {
        font-size: 13px;
        line-height: 20px;
    }

    .section-wrapper {
        padding: 20px 0;
    }

    .header {
        padding: 20px 0;
    }

    .header .profile-img {
        margin: 0 0 30px;
    }

    .progress-wrapper {
        margin-bottom: 50px;
    }
}

@media (max-width: 992px) {
    h2.section-title {
        margin-bottom: 20px;
        font-size: 32px;
        text-align: left;
    }

    .header {
        .name-wrapper {
            text-align: center;
        }
    }

    .social-icon {
        margin: 0 0 20px 0;
    }
}

// Animations

@keyframes animateBar {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}