body {
    font-family: 'Inter';
    font-size: 14px;
    line-height: 22.5px;
    color: $color_text;
    font-weight: 400;
    background: $color_background;
}

textarea {
    resize: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    line-height: 1em;
    color: $color_text;
}

h1 {
    font-size: 36px;
    font-weight: 700;
}

h2 {
    font-size: 18px;
    font-weight: 700;
}

h3 {
    font-size: 14px;
    font-weight: 700;
}

h4 {
    font-size: 15px;
    font-weight: 500;
}

h5 {
    font-size: 15px;
    font-weight: 500;
}

h6 {
    font-size: 15px;
}

a {
    color: $color_text;
    text-decoration: none;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    outline: none;

    &:active,
    &:focus,
    &:active {
        text-decoration: none;
        outline: none;
    }

    &:hover,
    &:focus {
        text-decoration: none;
        color: $color_text;
    }
}

p {
    margin-bottom: 20px;
}

strong {
    color: $color_text;
}

ul {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    padding-left: 20px;
    list-style: square;
}

// Main wrapper

div.main-wrapper {
    overflow: hidden;
}

// Header

div.header {
    padding: 50px 0 20px 0;
    margin: 0;
    position: relative;
    border-top: 5px solid #333;

    div.profile-img {
        display: block;
        text-align: center;

        img {
            width: 100%;
        }
    }

    div.name-wrapper {
        margin-bottom: 30px;

        h1 {
            text-transform: uppercase;
            line-height: 1;
            margin: 0 0 5px;
        }

        span {
            font-size: 24px;
            color: $color_text;
        }
    }

    div.personal-detail {
        margin: 10px 0;

        strong {
            font-size: 13px;
            color: $color_text;
            display: block;
            line-height: 1;
        }

        small {
            font-size: 12px;
        }

        span {
            color: $color_text;
        }
    }
}

// Section Wrapper

div.section-wrapper {
    padding: 50px 0;

    h2.section-title {
        margin-right: 30px;
        margin-bottom: 5px;
        font-size: 14px;
        color: $color_text;
        text-transform: uppercase;
        text-align: right;
    }
}

// Social Icon

ul.social-list {
    margin: 15px 0 0 0;
    padding: 0;
    display: block;
    text-align: center;

    li {
        display: inline-block;
        margin: 0 15px;

        a {
            display: block;
            font-size: 20px;
            color: $color_text;
            line-height: 46px;
            text-align: center;
            border-radius: 2px;
        }
    }
}

// download cv
div.download-cv {
    text-align: center;
}

// Skills Progressbar

div.skills-wrapper {
    .col-md-6 {
        &:last-child {
            div.skills-wrapper-item {
                margin-bottom: 0;
            }
        }
    }
}

div.skills-wrapper-item {
    margin-bottom: 75px;

    h3 {
        font-size: 12px;
        text-align: center;
        text-transform: uppercase;
    }

    &.skills-wrapper-item-frontend {
        @include progress_wrapper($color_frontend);
    }

    &.skills-wrapper-item-backend {
        @include progress_wrapper($color_backend);
    }

    &.skills-wrapper-item-sistemas {
        @include progress_wrapper($color_systems);
    }

    &.skills-wrapper-item-versiones {
        @include progress_wrapper($color_versions);
    }

    &.skills-wrapper-item-dependencias {
        @include progress_wrapper($color_dependencies);
    }

    &.skills-wrapper-item-otros {
        @include progress_wrapper($color_others);
    }

    &.skills-wrapper-item-ma {
        @include progress_wrapper($color_agile);
    }

    &.skills-wrapper-item-accesibilidad {
        @include progress_wrapper($color_accesibility);
    }

    &.skills-wrapper-item-design {
        @include progress_wrapper($color_design);
    }

    &.skills-wrapper-item-despliegues {
        @include progress_wrapper($color_updates);
    }

    .progress-item {
        .progress {
            .progress-bar {
                opacity: 0;
            }
        }
    }

    &.skills-wrapper-item-animated {
        .progress-item {
            .progress {
                .progress-bar {
                    opacity: 1;
                    animation-name: animateBar;
                    animation-iteration-count: 1;
                    animation-timing-function: ease-in;
                    animation-duration: 1s;
                }
            }
        }
    }
}

.progress-item {
    position: relative;

    .progress-title {
        display: block;
        margin-bottom: 2px;
        font-size: 12px;
        font-weight: 400;
        font-style: italic;
    }

    .progress {
        height: 1px;
        margin-bottom: 15px;
        box-shadow: none;
        border-radius: 0;
        background: transparent;

        .progress-bar {
            background-color: $color_text;
            box-shadow: none;
            text-align: right;
        }
    }
}

.experience-wrapper {
    .profile-item {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.profile-item {
    margin-bottom: 80px;

    h3 {
        font-size: 18px;
        text-transform: uppercase;
    }

    h4 {
        margin-bottom: 5px;
        font-size: 13px;
        font-weight: 700;
    }

    a {
        text-decoration: underline;

        &:hover {
            color: $color_text;
        }
    }

    .media-left {
        padding-right: 35px;
    }

    .profile-item-batch {
        margin-bottom: 25px;
    }

    .badge {
        font-weight: 400;
        background-color: #666;
        color: #FFF;
    }

    .profile-item-batch-frontend {
        .badge {
            color: $color_text;
            background-color: $color_frontend;
        }
    }

    .profile-item-batch-backend {
        .badge {
            background-color: $color_backend;
        }
    }

    .profile-item-batch-sistemas {
        .badge {
            background-color: $color_systems;
        }
    }

    .profile-item-batch-versiones {
        .badge {
            background-color: $color_versions;
        }
    }

    .profile-item-batch-despliegues {
        .badge {
            background-color: $color_updates;
        }
    }

    .profile-item-batch-dependencias {
        .badge {
            background-color: $color_dependencies;
        }
    }

    .profile-item-batch-ma {
        .badge {
            background-color: $color_agile;
        }
    }

    .profile-item-batch-otros {
        .badge {
            background-color: $color_others;
        }
    }

    .profile-item-batch-accesibilidad {
        .badge {
            background-color: $color_accesibility;
        }
    }

    .profile-item-batch-design {
        .badge {
            background-color: $color_design;
        }
    }
}

// Content Item

.content-item {
    margin-bottom: 40px;

    h3 {
        margin: 0;
        line-height: 1.8em;
        font-weight: bold;
        text-transform: uppercase;
    }

    h4 {
        margin: 0;
        line-height: 1.8em;
    }

    small {
        color: $color_text;
    }
}

/* --------------------------------------------
 *   Footer
 *---------------------------------------------- */

/* Copyright */

.footer {
    padding: 45px 0 80px;
    font-size: 12px;
    background-color: #EEE;

    a {
        i {
            font-size: 16px;
        }
    }
}

// Preloader

.preloader {
    background: #FFF;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

.status,
.status-mes {
    background-image: url(../../img/puff.svg);
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
}

.status-mes {
    background: none;
    left: 0;
    margin: 0;
    text-align: center;
    top: 65%;
}

// Extra media resolutions

@media (max-width : 768px) {
    body {
        font-size: 13px;
        line-height: 20px;
    }

    .section-wrapper {
        padding: 20px 0;
    }

    .header {
        padding: 20px 0;
    }

    .header .profile-img {
        margin: 0 0 30px;
    }

    div.skills-wrapper-item {
        margin-bottom: 50px;
    }
}

@media (max-width: 992px) {
    h2.section-title {
        margin-bottom: 20px;
        font-size: 32px;
        text-align: left;
    }

    div.header {
        .name-wrapper {
            text-align: center;
        }
    }

    div.social-list {
        margin: 0 0 5px 0;
    }

    div.download-cv {
        margin: 0 0 20px 0;
    }
}

// Animations

@keyframes animateBar {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}