.main-nav {
    color: $color_white;
    background-color: $color_black;

    animation-name: animateMainNav;
    animation-iteration-count: 0.15s;
    animation-timing-function: ease-in;
    animation-duration: 0.15s;

    .navbar {
        justify-content: flex-end;
    }
}

@include media-breakpoint-down(md) {
    .main-nav {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;

        &.main-nav-hide {
            display: none;
            height: 0;
            overflow: hidden;
        }
    }
}

@keyframes animateMainNav {
    0% {
        height: 0;
    }

    100% {
        height: auto;
    }
}