.main-nav {
    z-index: 1030;
    color: $color_white;
    background-color: $color_black;

    .navbar {
        justify-content: flex-end;
    }
}

@include media-breakpoint-down(sm) {
    .main-nav {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
    }
}