.main-nav {
    color: $color_white;
    background-color: $color_black;

    .navbar {
        justify-content: flex-end;
    }
}

@include media-breakpoint-down(md) {
    .main-nav {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;

        &.main-nav-hide {
            top: -10%;
            animation-name: animateMainNav;
            animation-timing-function: ease-out;
            animation-duration: 0.25s;
        }
    }
}

@keyframes animateMainNav {
    0% {
        top: 0;
    }

    100% {
        top: -10%;
    }
}