$top_name: 80%;
$delay_name: 0.15s;

a.project-item {
    position: relative;
    display: block;
    width: 100%;
    height: 250px;
    margin-bottom: 30px;
    overflow: hidden;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    // box-shadow: 0 6px 6px -6px $color_shadow;

    div.project-item-name {
        display: none;
        position: absolute;
        top: $top-name;
        left: 0;
        right: 0;
        width: 100%;
        height: 50px;
        padding: 10px;
        overflow: hidden;

        font-size: 11px;
        line-height: 1.5;
        color: $color_white;
        background-color: rgba(0, 0, 0, 0.75);
        text-align: center;
        text-transform: uppercase;
    }

    &:hover {
        text-decoration: none;

        div.project-item-name {
            display: block;
            animation-name: animateProjectName;
            animation-iteration-count: $delay_name;
            animation-timing-function: ease-in;
            animation-duration: $delay_name;
        }
    }
}

@include media-breakpoint-down(xs) {
    a.project-item {
        div.project-item-name {
            display: block;
        }
    }
}

@include media-breakpoint-down(sm) {
    a.project-item {
        div.project-item-name {
            display: block;
        }
    }
}

@keyframes animateProjectName {
    0% {
        top: 100%;
    }

    100% {
        top: $top_name;
    }
}