div.skills-wrapper {
    div.skills-item {
        margin-bottom: 75px;

        h3 {
            font-size: 12px;
            text-align: center;
            text-transform: uppercase;
        }

        &.skills-item-frontend {
            @include progress_wrapper($color_frontend);
        }

        &.skills-item-backend {
            @include progress_wrapper($color_backend);
        }

        &.skills-item-sistemas {
            @include progress_wrapper($color_systems);
        }

        &.skills-item-versiones {
            @include progress_wrapper($color_versions);
        }

        &.skills-item-dependencias {
            @include progress_wrapper($color_dependencies);
        }

        &.skills-item-otros {
            @include progress_wrapper($color_others);
        }

        &.skills-item-ma {
            @include progress_wrapper($color_agile);
        }

        &.skills-item-accesibilidad {
            @include progress_wrapper($color_accesibility);
        }

        &.skills-item-design {
            @include progress_wrapper($color_design);
        }

        &.skills-item-despliegues {
            @include progress_wrapper($color_updates);
        }

        &.skills-item-animated {
            .progress-item {
                .progress {
                    .progress-bar {
                        opacity: 1;
                        animation-name: animateBar;
                        animation-iteration-count: 1;
                        animation-timing-function: ease-in;
                        animation-duration: 1s;
                    }
                }
            }
        }

        div.progress-item {
            position: relative;

            div.progress-title {
                display: block;
                margin-bottom: 2px;
                font-size: 12px;
                font-weight: 400;
                font-style: italic;
            }

            div.progress {
                height: 1px;
                margin-bottom: 15px;
                box-shadow: none;
                border-radius: 0;
                background: transparent;

                div.progress-bar {
                    opacity: 0;
                    background-color: $color_text;
                    box-shadow: none;
                    text-align: right;
                }
            }
        }
    }

    div.col-md-6 {
        &:last-child {
            div.skills-item {
                margin-bottom: 0;
            }
        }
    }
}

@media (max-width : 768px) {
    div.skills-item {
        margin-bottom: 50px;
    }
}