// Colours, https://coolors.co/
$color_white: #FFF;
$color_black: #000;
$color_text: #010101;
$color_background: #f4f4f4;
$color_border: #EEE;
$color_shadow: #6c757d;

$color_versions: crimson;
$color_backend: #4285f4;
$color_systems: #34a853;
$color_frontend: #fbbc05;
$color_dependencies: #6b23ae;
$color_others: #7FC44B;
$color_agile: #F26419;
$color_accesibility: #084A62;
$color_design: #2D0320;
$color_updates: #00171F;
// Fonts
$inter: 'Inter', sans-serif;