// Colours, https://coolors.co/
$color_text: #010101;
$color_background: #f4f4f4;
$color_versions: crimson;
$color_backend: #4285f4;
$color_systems: #34a853;
$color_frontend: #fbbc05;
$color_dependencies: #6b23ae;
$color_others: black;
$color_agile: black;
$color_accesibility: black;
$color_design: black;
$color_updates: black;
// Fonts
$inter: 'Inter', sans-serif;