<footer>
    <div class="footer d-block d-md-none">
        <div class="container">

            <div class="row">
                <div class="col-8">
                    <!-- RRSS -->
                    <div class="rrss-header-menu">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" href="mailto:sanchezpizarro86@gmail.com" target="_blank">
                                    <i class="fas fa-envelope-square"></i>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="https://github.com/alsanchez86" target="_blank">
                                    <i class="fab fa-github"></i>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="https://www.linkedin.com/in/sanchezpizarro/" target="_blank">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="https://twitter.com/_sanchezpizarro" target="_blank">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-4">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-sm btn-contact-modal" data-toggle="modal" data-target="#exampleModal">
                        contacto
                    </button>
                </div>
            </div>
        </div>
    </div>
</footer>