<div id="header-page" class="header-page">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-8">
                <header>
                    <!-- Main nav -->
                    <t-include src="nav.html"></t-include>
                </header>
            </div>

            <div class="d-none d-sm-block col-sm-4 col-md-4">
                <!-- RRSS -->
                <t-include src="rrss.html"></t-include>
            </div>
        </div>
    </div>
</div>