<div id="header-page" class="header-page">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12">
                <header>
                    <!-- Main nav -->
                    <t-include src="nav.html"></t-include>
                </header>
            </div>

            <!-- <div class="d-none d-md-block col-sm-6 col-md-6">                
                <tinclude src="rrss.html"></tinclude>
            </div> -->
        </div>
    </div>
</div>