<!doctype html>
<html lang="es" dir="ltr">

<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>Ángel Sánchez</title>
    <!-- Main css -->
    <!-- <link rel="stylesheet" href="dist/css/main.min.css"> -->
    <link rel="stylesheet" href="dist/css/main.css">
    <!-- Fonts CDN -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet">
</head>

<body>
    <!-- Content page -->
    <div id="content" class="content">
        <!-- Header page -->
        <div id="header-page" class="header-page">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-8 col-md-8">
                        <header>
                            <!-- Main nav -->
                            <% include('nav.html'); %>
                        </header>
                    </div>

                    <div class="d-none d-sm-block col-sm-4 col-md-4">
                        <!-- RRSS -->
                        <% include('rrss.html'); %>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <!-- Main section -->
            <% include('inicio.html'); %>
        </div>
        <!-- Footer -->
        <% include('footer.html'); %>
    </div>

    <!-- Spinner init loader -->
    <% include('loader.html'); %>
    <!-- Scripts -->
    <% include('scripts.html'); %>
</body>

</html>