<div class="main-nav">
    <nav>
        <ul class="nav">
            <li class="nav-item nav-item-branded">
                <a id="nav-link-as-times" class="nav-link as-icon" href="#">
                    <span class="as-icon-span">AS</span>
                    <span class="fa-times-span">
                        <i class="fas fa-times"></i>
                    </span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" href="/">inicio</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/perfil">perfil</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/portfolio">portfolio</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/blog">blog</a>
            </li>
        </ul>
    </nav>
</div>