<div class="main-nav">
    <nav>
        <ul class="nav">
            <li class="nav-item nav-item-branded">
                <a id="nav-link-menu-icon" class="nav-link menu-icon" href="#">
                    <i class="fas fa-bars"></i>                    
                    <i class="fas fa-times"></i>                    
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" href="/">inicio</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/perfil">perfil</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/portfolio">portfolio</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/blog">blog</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/contacto">contacto</a>
            </li>
        </ul>
    </nav>
</div>