<div class="text-right">
    <button type="button" class="btn btn-sm btn-contact-modal" data-toggle="modal" data-target="#exampleModal">
        contacto
    </button>
</div>

<div class="d-none rrss-header-menu">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="https://github.com/alsanchez86" target="_blank">
                <i class="fab fa-github"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="mailto:sanchezpizarro86@gmail.com" target="_blank">
                <i class="fas fa-envelope-square"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="https://www.linkedin.com/in/sanchezpizarro/" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="https://twitter.com/_sanchezpizarro" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
        </li>

        <li class="nav-item">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-sm btn-contact-modal" data-toggle="modal" data-target="#exampleModal">
                contacto
            </button>
        </li>
    </ul>
</div>