<!doctype html>
<html lang="es" dir="ltr">

{{! Head }}
{{> ../../partials/head }}

<body>
    {{! Page Preloader }}
    {{> ../../partials/preloader }}
    {{! Main menu }}
    {{> ../../partials/menu }}
    {{! Main content }}
    <div class="main-wrapper">
        <div class="section-wrapper">
            <div class="container">
                <div class="row">
                    {{#projects}}
                    <div class="col-12 col-sm-6 col-md-4">
                        <a href="{{ link }}" class="portfolio-item" style="background-image: {{ background }}">
                            {{ name }}
                        </a>
                    </div>
                    {{/projects}}
                </div>
            </div>
        </div>

        {{! Footer }}
        {{> ../../partials/footer }}
    </div>

    {{! Scripts }}
    {{> ../../partials/script }}
</body>

</html>