<!doctype html>
<html lang="es" dir="ltr">

{{> ../../partials/head }}

<body class="portfolio">
    <!-- Header page -->
    {{> ../../partials/header }}
    <!-- Page title -->
    {{> ../../partials/page_title }}    
    <!-- Footer -->
    {{> ../../partials/footer }}
    <!-- Spinner init loader -->
    {{> ../../partials/loader }}
    <!-- Scripts -->
    {{> ../../partials/script }}
</body>

</html>