.experience-item {
    margin-bottom: 60px;

    &:last-child {
        margin-bottom: 0;
    }

    h3 {
        font-size: 18px;
        text-transform: uppercase;
    }

    h4 {
        margin-bottom: 5px;
        font-size: 13px;
        font-weight: 700;
    }

    ul {
        padding: 0;
    }

    .media-left {
        padding-right: 35px;
    }

    .intro {
        margin-bottom: 30px;
    }

    .experience-item-batch {
        margin-bottom: 35px;

        .experience-item-batch-frontend {
            @include experience_badge($color_frontend, $color_text);
        }

        .experience-item-batch-backend {
            @include experience_badge($color_backend);
        }

        .experience-item-batch-sistemas {
            @include experience_badge($color_systems);
        }

        .experience-item-batch-versiones {
            @include experience_badge($color_versions);
        }

        .experience-item-batch-despliegues {
            @include experience_badge($color_updates);
        }

        .experience-item-batch-dependencias {
            @include experience_badge($color_dependencies);
        }

        .experience-item-batch-ma {
            @include experience_badge($color_agile);
        }

        .experience-item-batch-otros {
            @include experience_badge($color_others);
        }

        .experience-item-batch-accesibilidad {
            @include experience_badge($color_accesibility);
        }

        .experience-item-batch-design {
            @include experience_badge($color_design);
        }
    }

    a.project-item {
        margin-bottom: 0;
        cursor: grab;
    }

    .glide--dragging {
        a.project-item {
            cursor: grabbing;
        }
    }

    .glide-controls {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .btn {
            font-size: 9px;
            color: $color_backend;

            &.glide__bullet--active {
                color: $color_versions;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .experience-item {
        margin-bottom: 20px;

        .glide-controls {
            display: none;
        }
    }
}