.intro {
    .img-thumbnail {
        padding: 0;
        border: 0;
    }

    .name-wrapper {
        margin-bottom: 40px;

        h1 {
            margin: 0 0 10px;

            line-height: 1.25;
            letter-spacing: 2px;
            text-transform: uppercase;
        }

        span {
            font-size: 24px;
        }
    }

    p.personal-detail {
        margin: 10px 0;
        line-height: 25px;

        strong {
            font-size: 13px;
        }

        small {
            font-size: 12px;
        }
    }

    ul.social-list {
        margin: 15px 0 20px 0;
        padding: 0;
        display: block;
        text-align: center;

        li {
            display: inline-block;
            margin: 0 15px;

            a {
                display: block;
                font-size: 20px;
                line-height: 46px;
                text-align: center;
                border-radius: 2px;

                &.social-list-github {
                    @include link($color_github, $color_github);
                }

                &.social-list-linkedin {
                    @include link($color_linkedin, $color_linkedin);
                }

                &.social-list-twitter {
                    @include link($color_twitter, $color_twitter);
                }

                &.social-list-email {
                    @include link($color_gray, $color_gray);
                }
            }
        }
    }

    .download-cv {
        text-align: center;
    }

    .github-calendar {
        min-height: 175px;
        margin: 40px 0 0 0;
    }
}

@include media-breakpoint-down(md) {
    .intro {
        .name-wrapper {
            text-align: center;
        }

        ul.social-list {
            margin: 0 0 5px 0;
        }

        .download-cv {
            margin: 0 0 35px 0;
        }
    }
}