<div class="container">
  <div class="controls">
    <input id="input-switch-mode" type="checkbox" data-toggle="toggle" data-size="sm" data-on="<i class='fa fa-moon-o' aria-hidden='true'></i>"
      data-off="<i class='fa fa-sun-o' aria-hidden='true'></i>" data-onstyle="outline-dark">
  </div>
</div>