<section class="education-wrapper section-wrapper">
  <div class="container">
    <h2 class="section-title">{{ educationTitle }}</h2>

    {{#education}}
    {{>education_item}}
    {{/education}}
  </div>
</section>