<section class="experience-wrapper section-wrapper">
  <div class="container">
    <h2 class="section-title">{{ experienceTitle }}</h2>

    {{#experience}}
    {{>experience_item}}
    {{/experience}}
  </div>
</section>