<!doctype html>
<html lang="{{ lang }}" dir="ltr">

{{! Head }}
{{> ../../partials/head }}

<body class="hidden">
  {{! Page Preloader }}
  {{> ../../partials/preloader }}
  {{! Main menu }}
  {{! {{> ../../partials/menu }}
  {{! Main content }}
  <div class="main-wrapper">
    {{! {{> controls }}
    {{> intro }}
    {{> skills }}
    {{> experience }}
    {{> education }}
    {{! Footer }}
    {{> ../../partials/footer }}
  </div>

  {{! Scripts }}
  {{> ../../partials/script }}
</body>

</html>