<header class="intro-wrapper section-wrapper">
  <div class="container">
    <p class="language-selector">
      <a href="https://sanchezpizarro.com/en/" target="_self" title="English">
        <img src="{{ img_path }}/ico/us.svg" alt="EN" title="EN" />
      </a>
      &nbsp;
      <a href="https://sanchezpizarro.com/es/" target="_self" title="Español">
        <img src="{{ img_path }}/ico/es.svg" alt="ES" title="ES" />
      </a>
    </p>

    <div class="row">
      <div class="col-md-5 col-lg-4 col-xl-3">
        <!-- perfil Image -->
        <div class="d-none d-sm-none d-md-block">
          <img
            class="img-fluid img-thumbnail"
            src="{{ img_path }}/perfil.jpg"
            alt="Ángel Luis Sánchez Pizarro"
          />
        </div>

        <ul class="social-list">
          <li>
            <a
              class="social-list-linkedin"
              href="https://www.linkedin.com/in/sanchezpizarro/"
              target="_blank"
              title="Linkedin"
            >
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </li>

          <li>
            <a
              class="social-list-github"
              href="https://github.com/alsanchez86"
              target="_blank"
              title="Github"
            >
              <i class="fa fa-github" aria-hidden="true"></i>
            </a>
          </li>

          <li>
            <a
              class="social-list-twitter"
              href="https://twitter.com/_sanchezpizarro"
              target="_blank"
              title="Twitter"
            >
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
          </li>

          <li>
            <a
              class="social-list-skype"
              href="https://join.skype.com/invite/a73aAmWi6xFC"
              target="_blank"
              title="Skype"
            >
              <i class="fa fa-skype" aria-hidden="true"></i>
            </a>
          </li>

          <li>
            <a
              class="social-list-email"
              href="mailto:sanchezpizarro86@gmail.com"
              title="Email"
            >
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
            </a>
          </li>
        </ul>

        <div class="download-cv">
          <a
            class="btn btn-primary btn-sm"
            href="https://github.com/alsanchez86/alsanchez86.github.io/raw/master/src/files/cv-angel-sanchez.pdf"
            target="_blank"
          >
            CV (English, PDF)
            <i class="fa fa-download" aria-hidden="true"></i>
            <br />
            <small>({{ cvLastUpdated }})</small>
          </a>
        </div>
      </div>

      <div class="col-md-7 col-lg-8 col-xl-9">
        <div class="name-wrapper">
          <h1>Ángel Sánchez</h1>

          <h2>
            {{ title }}
          </h2>
        </div>

        {{ description }}

        <div class="row">
          <div class="col-6 col-md-3">
            <p class="personal-detail">
              <strong>{{ dateBirth }}</strong>
              <br />
              <small>{{ dateBirthValue }}</small>
            </p>
          </div>

          <div class="col-6 col-md-3">
            <p class="personal-detail">
              <strong>{{ nationality }}</strong>
              <br />
              <small>{{ nationalityValue }}</small>
            </p>
          </div>

          <div class="col-12 col-md-3">
            <p class="personal-detail">
              <strong>{{ languages }}</strong>
              <br />
              <small>{{ languagesEnglish }}</small>
              <br />
              <small>{{ languagesSpanish }}</small>
            </p>
          </div>

          <div class="col-12 col-md-3"></div>
        </div>
      </div>
    </div>
  </div>
</header>
