<!doctype html>
<html lang="es" dir="ltr">

{{! Head }}
{{> ../../../partials/head }}

<body>
    {{! Page Preloader }}
    {{> ../../../partials/preloader }}
    {{! Main menu }}
    {{> ../../../partials/menu }}
    {{! Main content }}
    <div class="main-wrapper">
        {{! Footer }}
        {{> ../../../partials/footer }}
    </div>

    {{! Scripts }}
    {{> ../../../partials/script }}
</body>

</html>