<!doctype html>
<html lang="es" dir="ltr">

{{! Head }}
{{> ../../../partials/head }}

<body>
    {{! Page Preloader }}
    {{> ../../../partials/preloader }}
    {{! Main menu }}
    {{> ../../../partials/menu }}
    {{! Main content }}
    <div class="main-wrapper">
        <h1>
            XOWL Demo. Ximdex CMS Module.
        </h1>

        <p>
            <strong>Empresa:</strong> <a href="https://www.ximdex.com/" target="_blank">Open Ximdex Evolution S.L.</a>
            <br>
            <strong>Fecha:</strong> Marzo 2014.
            <br>
            <strong>Link:</strong> <a href="http://demo.ximdex.com/xowl/"
                target="_blank">http://demo.ximdex.com/xowl/</a>
        </p>

        <h2>
            Demostración
        </h2>

        <p>
            Demostración del modulo y API XOWL. Enriquecimiento de textos mediante el reconocimiento de entidades
            contenidas en DBpedia.
        </p>

        <h2>
            Funciones y desarrollos
        </h2>

        <ul>
            <li>Desarrollo de la aplicación SPA.</li>
            <li>Diseño y maquetación responsive de la aplicación mediante Bootstrap 3.</li>
            <li>Creación del esquema y mockups.</li>
        </ul>

        <h2>Tecnologías</h2>

        <ul>
            <li>
                Frontend: <span class="badge">javaScript</span> <span class="badge">jQuery</span> <span class="badge">HTML</span> <span class="badge">CSS</span> <span class="badge">Less</span> <span class="badge">Grunt</span>
            </li>
        </ul>

        {{! Footer }}
        {{> ../../../partials/footer }}
    </div>

    {{! Scripts }}
    {{> ../../../partials/script }}
</body>

</html>