body {
  font-family: $open;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  color: $color_text;
  background-color: $color_white;
}

textarea {
  resize: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;

  font-family: $inter;
  line-height: 1em;
  color: $color_black;
}

h1 {
  font-size: 42px;
  font-weight: 700;
}

h2 {
  font-size: 20px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

h4 {
  font-size: 16px;
  font-weight: 700;
}

h5 {
  font-size: 16px;
  font-weight: 600;
}

h6 {
  font-size: 16px;
  font-weight: 500;
}

a {
  color: $color_link;
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;

  &:focus,
  &:hover {
    color: $color_link;
  }
}

p {
  margin-bottom: 20px;
}

ul,
ol {
  margin: 0 0 20px 0;
  line-height: 24px;

  li {
    margin-bottom: 5px;
  }
}

ul {
  list-style: none;

  &.list-with-points {
    padding: 0 0 0 20px;

    li::before {
      content: '\2022'; /* Add content: \2022 is the CSS Code/unicode for a bullet */
      color: $color_gray; /* Change the color */
      font-weight: bold; /* If you want it to be bold */
      display: inline-block; /* Needed to add space between the bullet and the text */
      width: 1em; /* Also needed for space (tweak if needed) */
      margin-left: -1em; /* Also needed for space (tweak if needed) */
    }
  }
}

b,
strong {
  font-weight: 700;
}

.main-wrapper {
  background-color: $color_white;
}

.section-wrapper {
  padding: 50px 0;
}

h2.section-title {
  margin-bottom: 2.5rem;

  font-size: 25px;
  text-transform: uppercase;
}

.navbar {
  padding: 0.75rem;
}

.nav-link {
  font-size: 18px;
  line-height: 24px;
}

.navbar-light .navbar-toggler {
  border-color: transparent;
}

.with-loader {
  background-image: url(../../src/img/ajax-loader.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.hidden {
  overflow: hidden;
}

@include media-breakpoint-down(lg) {
}

@include media-breakpoint-down(md) {
  body {
    font-size: 15px;
  }

  .section-wrapper {
    padding: 40px 0;
  }

  h2.section-title {
    margin-bottom: 1.5rem;
  }
}

@include media-breakpoint-down(sm) {
  h2.section-title {
    margin-bottom: 1.5rem;
  }
}

@include media-breakpoint-down(xs) {
  h2.section-title {
    margin-bottom: 1.5rem;
  }
}
