<footer>
    <div class="footer">
        <div class="container">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/alsanchez86" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="mailto:sanchezpizarro86@gmail.com" target="_blank">
                        <i class="fas fa-envelope-square"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="https://www.linkedin.com/in/sanchezpizarro/" target="_blank">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="https://twitter.com/_sanchezpizarro" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
            </ul>

            <p><a href="/inicio">www.sanchezpizarro.com</a></p>
        </div>
    </div>
</footer>