<footer class="footer d-none d-sm-none d-md-block">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-2">
                <strong>Github</strong>
                <br>
                <a href="https://github.com/alsanchez86" target="_blank" title="https://github.com/alsanchez86"><i
                        class="fa fa-github" aria-hidden="true"></i></a>
            </div>

            <div class="col-md-2">
                <strong>Linkedin</strong>
                <br>
                <a href="https://www.linkedin.com/in/sanchezpizarro" target="_blank"
                    title="https://www.linkedin.com/in/sanchezpizarro"><i class="fa fa-linkedin"
                        aria-hidden="true"></i></a>
            </div>

            <div class="col-md-2">
                <strong>Twitter</strong>
                <br>
                <a href="https://twitter.com/_sanchezpizarro" target="_blank"
                    title="https://twitter.com/_sanchezpizarro"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>

            <div class="col-md-4">
                <strong>Email</strong>
                <br>
                <a href="mailto:sanchezpizarro86@gmail.com" title="sanchezpizarro86@gmail.com">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;sanchezpizarro86@gmail.com
                </a>
            </div>
        </div>
    </div>
</footer>