<div id="header-page" class="header-page">
    <div class="container">
        <header>
            {{! Logo }}
            <div class="header-logo">AS</div>
            {{! Main nav }}
            {{> nav.mustache }}
        </header>
    </div>
</div>