<div id="header-page" class="header-page">
    <div class="container">
        <header>
            <div class="row">
                <div class="d-none d-lg-block col-lg-3 col-xl-2">
                    {{! Logo }}
                    <div class="header-logo">
                        AS<small>&nbsp;/&nbsp;Ángel Sánchez</small>
                    </div>
                </div>

                <div class="col-12 col-md-8 col-lg-6 col-xl-7">
                    {{! Main nav }}
                    {{> nav.mustache }}                    
                </div>

                <div class="col-12 col-md-4 col-lg-3 col-xl-3">                    
                    {{! RRSS }}
                    {{> rrss.mustache }}
                </div>                
            </div>
        </header>
    </div>
</div>