<div id="main-loader-container" class="main-loader-container">
    <div class="main-loader">
        <div class="line-scale">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>