@mixin theme ($color: $body-color) {
  // Loader
  .main-loader-container {
    .main-loader {
      &>div>div {
        background-color: $color;
      }
    }
  }

  // Header page
  div.header-page {
    background-color: $color;

    div.header-logo {
      @include text($open, 1.25rem, 400, normal, $blanco_1, left, none, 1.85rem);

      a {
        @include link($blanco_1, $blanco_1, none, none, transparent, transparent);
      }
    }
  }

  // Page title
  div.page-title {
    // background-color: $color;
    // background: url($imgfolder + "background-page-title.svg") top right, linear-gradient(60deg, $color, lighten($color, 20%));
    background: url($imgfolder + "background-page-title.svg") top right, linear-gradient(60deg, darken($color, 35%), $color);
  }

  // Main nav
  div.main-nav {
    ul.nav {
      li.nav-item {
        &.nav-item-branded {
          a.menu-icon {
            @include link($blanco_1, $blanco_1, none, none, transparent, transparent);
          }
        }

        a.nav-link {
          @include link($blanco_1, $blanco_1, none, none, transparent, transparent);

          &.active {
            @include link($blanco_1, $blanco_1, none, none, transparent, transparent);
          }
        }
      }
    }
  }

  // rrss nav
  div.rrss-nav {
    ul.nav {
      li.nav-item {
        a.nav-link {
          @include link($blanco_1, $blanco_1, none, none, transparent, transparent);
        }
      }
    }
  }

  div.main-section {
    div.main-aside {
      div.list-group {
        a.list-group-item {
          @include link($color, $color, none, none, transparent, transparent);
        }
      }
    }

    div.main-content {
      a {
        @include link($color, $color, none, none, transparent, transparent);
      }
    }
  }

  @include media-breakpoint-only(xs) {
    // Header page
    div.header-page {
      &.header-page-open {
        background-color: $color;
        // background: linear-gradient(0deg, $color, lighten($color, 20%));
      }
    }
    // Main nav
    div.main-nav {
      ul.nav {
        li.nav-item {
          a.nav-link {
            &.active {
              @include link($blanco_1, $blanco_1, none, none, transparent, transparent);
            }
          }
        }
      }
    }
  }
}