<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-1"></div>

      <div class="col-2">
        <a href="https://github.com/alsanchez86" target="_blank" title="https://github.com/alsanchez86"><i
            class="fa fa-github" aria-hidden="true"></i></a>
      </div>

      <div class="col-2">
        <a href="https://www.linkedin.com/in/sanchezpizarro" target="_blank"
          title="https://www.linkedin.com/in/sanchezpizarro"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </div>

      <div class="col-2">
        <a href="https://twitter.com/_sanchezpizarro" target="_blank" title="https://twitter.com/_sanchezpizarro"><i
            class="fa fa-twitter" aria-hidden="true"></i></a>
      </div>

      <div class="col-2">
        <a href="https://join.skype.com/invite/a73aAmWi6xFC" target="_blank"
          title="https://join.skype.com/invite/a73aAmWi6xFC">
          <i class="fa fa-skype" aria-hidden="true"></i>
        </a>
      </div>

      <div class="col-2">
        <a href="mailto:sanchezpizarro86@gmail.com" title="sanchezpizarro86@gmail.com">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
        </a>
      </div>

      <div class="col-1"></div>
    </div>

    <p class="footer-me">
      <a href="mailto:sanchezpizarro86@gmail.com" title="sanchezpizarro86@gmail.com">
        sanchezpizarro86@gmail.com
      </a>
    </p>
  </div>
</footer>