<script>
  var sectionModule = "{{ section_module }}";
  var menuActiveItem = "{{ menu_active_item }}";
</script>
{{! Main js }}
<script data-main="{{ main_path }}/main" src="{{ requirejs_path }}/require.js"></script>