.experience-wrapper {
    .experience-item {
        margin-bottom: 80px;

        h3 {
            font-size: 18px;
            text-transform: uppercase;
        }

        h4 {
            margin-bottom: 5px;
            font-size: 13px;
            font-weight: 700;
        }

        a {
            text-decoration: underline;

            &:hover {
                color: $color_text;
            }
        }

        .media-left {
            padding-right: 35px;
        }

        .experience-item-batch {
            margin-bottom: 25px;
        }

        .badge {
            font-weight: 400;
            background-color: #666;
            color: #FFF;
        }

        .experience-item-batch-frontend {
            .badge {
                color: $color_text;
                background-color: $color_frontend;
            }
        }

        .experience-item-batch-backend {
            .badge {
                background-color: $color_backend;
            }
        }

        .experience-item-batch-sistemas {
            .badge {
                background-color: $color_systems;
            }
        }

        .experience-item-batch-versiones {
            .badge {
                background-color: $color_versions;
            }
        }

        .experience-item-batch-despliegues {
            .badge {
                background-color: $color_updates;
            }
        }

        .experience-item-batch-dependencias {
            .badge {
                background-color: $color_dependencies;
            }
        }

        .experience-item-batch-ma {
            .badge {
                background-color: $color_agile;
            }
        }

        .experience-item-batch-otros {
            .badge {
                background-color: $color_others;
            }
        }

        .experience-item-batch-accesibilidad {
            .badge {
                background-color: $color_accesibility;
            }
        }

        .experience-item-batch-design {
            .badge {
                background-color: $color_design;
            }
        }
    }

    .experience-item {
        &:last-child {
            margin-bottom: 0;
        }
    }
}