.intro {
    position: relative;
    padding: 50px 0 20px 0;
    margin: 0;
    border-top: 5px solid #333;

    .name-wrapper {
        margin-bottom: 30px;

        h1 {
            margin: 0 0 5px;
            line-height: 1;
            text-transform: uppercase;
        }

        span {
            font-size: 24px;
        }
    }

    .personal-detail {
        margin: 10px 0;

        strong {
            display: block;
            font-size: 13px;
            line-height: 1;
        }

        small {
            font-size: 12px;
        }
    }

    ul.social-list {
        margin: 15px 0 0 0;
        padding: 0;
        display: block;
        text-align: center;

        li {
            display: inline-block;
            margin: 0 15px;

            a {
                display: block;
                font-size: 20px;
                line-height: 46px;
                text-align: center;
                border-radius: 2px;
            }
        }
    }

    .download-cv {
        text-align: center;
    }
}

@media (max-width : 768px) {
    .intro {
        padding: 20px 0;
    }
}

@media (max-width: 992px) {
    .intro {
        .name-wrapper {
            text-align: center;
        }

        ul.social-list {
            margin: 0 0 5px 0;
        }

        .download-cv {
            margin: 0 0 20px 0;
        }
    }
}