<!doctype html>
<html lang="es" dir="ltr">

<t-include src="../head.html" path="./"></t-include>

<body>
    <!-- Content page -->
    <div id="content" class="content">
        <!-- Header page -->
        <t-include src="../header.html"></t-include>

        <div class="container">
            <!-- Main section -->
            <t-include src="inicio.html"></t-include>
        </div>
        <!-- Footer -->
        <t-include src="../footer.html"></t-include>
    </div>

    <!-- Spinner init loader -->
    <t-include src="../loader.html"></t-include>
    <!-- Scripts -->
    <t-include src="../js.html" path="./"></t-include>
</body>

</html>