<!doctype html>
<html lang="es" dir="ltr">

<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>Ángel Sánchez</title>
    <!-- Main css -->
    <t-include src="../css.html" path="../"></t-include>
</head>

<body>
    <!-- Content page -->
    <div id="content" class="content">
        <!-- Header page -->
        <t-include src="../header.html"></t-include>

        <div class="container">
            <!-- Main section -->
            <t-include src="inicio.html"></t-include>
        </div>
        <!-- Footer -->
        <t-include src="../footer.html"></t-include>
    </div>

    <!-- Spinner init loader -->
    <t-include src="../loader.html"></t-include>
    <!-- Scripts -->
    <t-include src="../js.html" path="../"></t-include>
</body>

</html>