<section class="education-wrapper section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <h2 class="section-title">Estudios</h2>
            </div>

            <div class="col-lg-10">
                {{#education}}
                {{>education_item}}
                {{/education}}
            </div>
        </div>
    </div>
</section>