<div class="experience-item">
    <div class="row">
        <div class="col-md-10">
            <h3 class="media-heading">
                {{ name }}
            </h3>

            <p class="experience-item-intro">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                {{ date }}
                <a href="{{ city.link }}" target="_blank">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    {{ city.name }}
                </a>
                {{#company_link}}
                <a href="{{ link }}" target="_blank">
                    <i class="fa fa-external-link" aria-hidden="true"></i>
                    {{ link }}
                </a>
                {{/company_link}}
            </p>

            <div class="experience-item-batch">
                <h4>PUESTO</h4>

                <ul>
                    <li>{{ position }}</li>
                </ul>
            </div>

            <div class="experience-item-batch">
                <h4>FUNCIONES</h4>

                <ul>
                    {{#functions}}
                    <li>{{ name }}</li>
                    {{/functions}}
                </ul>
            </div>

            {{#showTechs}}
            <div class="experience-item-batch">
                <h4>TECNOLOGÍAS</h4>

                {{#techs}}
                {{#items}}
                <span class="badge experience-item-batch-{{ type }}">{{ name }}</span>
                {{/items}}
                {{/techs}}
            </div>
            {{/showTechs}}

            {{#showProjects}}
            <div class="experience-item-batch">
                <h4>PROYECTOS DESTACADOS</h4>

                <div id="glide-slider-{{ id }}" class="glide invisible">
                    <div data-glide-el="track" class="glide__track">
                        <ul class="glide__slides">
                            {{! {{#embeds}}
                            {{! <li class="glide__slide">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ src "
                                        allowfullscreen></iframe>
                                </div>
                            </li> }}
                            {{! /embeds}}

                            {{#projects}}
                            <li class="glide__slide">
                                <a href="{{ link }}" target="{{ target }}" class="project-item"
                                    style="background-image: url({{ background }})">
                                    <div class="project-item-name">
                                        {{ name }}
                                    </div>
                                </a>
                            </li>
                            {{/projects}}
                        </ul>
                    </div>

                    <div class="glide-controls" data-glide-el="controls[nav]">
                        {{#projects}}
                        <button class="btn btn-link" data-glide-dir="={{ index }}">
                            <i class="fa fa-circle" aria-hidden="true"></i>
                        </button>
                        {{/projects}}
                    </div>
                </div>
            </div>
            {{/showProjects}}
        </div>

        <div class="col-md-2 d-none d-sm-none d-md-block">
            {{#image_company_path}}
            {{#company_link}}
            <a href="{{ link }}" target="_blank">
                <img class="img-fluid" src="{{ img_path }}/{{ image_name }}" alt="{{ name }}">
            </a>
            {{/company_link}}
            {{/image_company_path}}
        </div>
    </div>
</div>