<header class="intro section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <!-- perfil Image -->
                <div class="d-none d-sm-none d-md-block">
                    <img class="img-fluid img-thumbnail" src="{{ img_path }}/perfil.jpg" alt="Ángel Luis Sánchez Pizarro" />
                </div>

                <ul class="social-list">
                    <li>
                        <a class="social-list-github" href="https://github.com/alsanchez86" target="_blank" title="https://github.com/alsanchez86">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a class="social-list-linkedin" href="https://www.linkedin.com/in/sanchezpizarro/" target="_blank" title="https://www.linkedin.com/in/sanchezpizarro/">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a class="social-list-twitter" href="https://twitter.com/_sanchezpizarro" target="_blank" title="https://twitter.com/_sanchezpizarro">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a class="social-list-skype" href="https://join.skype.com/invite/a73aAmWi6xFC" target="_blank" title="https://join.skype.com/invite/a73aAmWi6xFC">
                            <i class="fa fa-skype" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a class="social-list-email" href="mailto:sanchezpizarro86@gmail.com">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>

                <div class="rrss-buttons">
                    <a class="github-button" href="https://github.com/alsanchez86" data-color-scheme="no-preference: light; light: light; dark: dark;" data-size="large" aria-label="Sígueme @alsanchez86 on GitHub">Sígueme</a>
                </div>

                <div class="download-cv">
                    <a class="btn btn-primary btn-sm" href="https://github.com/alsanchez86/alsanchez86.github.io/raw/master/src/files/cv_angel_luis_sanchez_pizarro.pdf" target="_blank">
                        CV (PDF)
                        <i class="fa fa-download" aria-hidden="true"></i>
                        <br>
                        <small>(Última actualización: Agosto 2019)</small>
                    </a>
                </div>
            </div>

            <div class="col-md-8">
                <div class="name-wrapper">
                    <h1>
                        Ángel Sánchez
                    </h1>

                    <p>
                        <span>Senior Frontend Developer</span>
                        <br>
                        <span class="position-name">
                            Center Leader Developer en Everis <img class="img-fluid everis-logo-intro" src="{{ img_path }}/companies/everis.jpg" alt="Everis"/>
                        </span>
                    </p>
                </div>

                <p>
                    Desarrollador de software y aplicaciones web.
                </p>

                <p>
                    Experiencia en muchas "frecuencias del espectro" del desarrollo de software. Desde la
                    gestión de servidores, bases de datos y administración de sistemas, hasta el diseño
                    de interfaces (UI, UX), pasando por el desarrollo completo de las aplicaciones web frontend
                    y backend, donde desempeño la mayor parte de mi actividad como desarrollador.
                </p>

                <p>
                    Trabajador en equipo, resolutivo, conocedor de las buenas prácticas y del código limpio.
                </p>

                <div class="row">
                    <div class="col-6 col-md-4">
                        <p class="personal-detail">
                            <strong>Fecha de nacimiento</strong>
                            <br>
                            <small>21 de Julio de 1986.</small>
                        </p>
                    </div>
                    <div class="col-6 col-md-3">
                        <p class="personal-detail">
                            <strong>Nacionalidad</strong>
                            <br>
                            <small>Española.</small>
                        </p>
                    </div>
                    <div class="col-12 col-md-5">
                        <p class="personal-detail">
                            <strong>Idiomas</strong>
                            <br>
                            <small>Español (nativo).</small>
                            <br>
                            <small>Inglés (competencia profesional).</small>
                            <br>
                            <small>Catalán (básico).</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>