<!doctype html>
<html lang="es" dir="ltr">

{{> ../../partials/head }}

<body>
    <!-- Header page -->
    {{> ../../partials/header }}
    <!-- Main section -->
    <div class="container">
        {{> inicio }}
    </div>
    <!-- Fixed Button -->
    {{> ../../partials/fixed_button }}
    <!-- Footer -->
    {{> ../../partials/footer }}
    <!-- Spinner init loader -->
    {{> ../../partials/loader }}
    <!-- Scripts -->
    {{> ../../partials/script }}
</body>

</html>