<!doctype html>
<html lang="es" dir="ltr">

{{> ../../partials/head }}

<body>
    <!-- Header page -->
    {{> ../../partials/header }}
    <!-- Main section -->
    {{> inicio }}
    <!-- Footer -->
    {{> ../../partials/footer }}
    <!-- Spinner init loader -->
    {{> ../../partials/loader }}
    <!-- Scripts -->
    {{> ../../partials/script }}
</body>

</html>