{{> ../../index }}

<section>
    <div class="main-section">
        <header>
            <h1 class="text-center">En construcción...</h1>
        </header>

        <p class="text-center">
            Email de contacto:
            <a href="mailto:sanchezpizarro86@gmail.com">sanchezpizarro86@gmail.com</a>
        </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut
            enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis
            aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat
            cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>

        <p>
            <img class="img-fluid mx-auto d-block" src="http://ximg.es/1800x900/AAA/fff" alt="" data-action="zoom">
        </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut
            enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis
            aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat
            cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>
</section>