<section>
    <div class="main-section">
        <div class="container">
            <div class="main-content">
                <header>
                    <h1>Inicio</h1>
                </header>

                <p class="text-center">
                    Email de contacto:
                    <a href="mailto:sanchezpizarro86@gmail.com">sanchezpizarro86@gmail.com</a>
                </p>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et
                    dolore magna aliqua. Ut
                    enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi
                    consequat. Quis
                    aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                    sint
                    obcaecat
                    cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>

                <div class="text-center">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/UhCPaRX6PYM" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <p>
                    <img class="img-fluid mx-auto d-block" src="http://ximg.es/300x400/AAA/fff" alt="" data-action="zoom">
                </p>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et
                    dolore magna aliqua. Ut
                    enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi
                    consequat. Quis
                    aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                    sint
                    obcaecat
                    cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
    </div>
</section>