<section class="section-education section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="section-title">
                    <h2>EDUCACIÓN</h2>
                </div>
            </div>

            <div class="col-lg-10">
                {{#education}}
                    {{>education_item}}
                {{/education}}
            </div>
        </div>
    </div>
</section>