<section class="section-profile section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="section-title">
                    <h2>EXPERIENCIA</h2>
                </div>
            </div>

            <div class="col-lg-10">
                {{#experience}}
                    {{>experience_item}}
                {{/experience}}

                <div class="profile-item">
                    <div class="row">
                        <div class="col-md-10">
                            <h3 class="media-heading">
                                EXPERTUS TECHNOLOGY
                            </h3>

                            <p>
                                <small>Agosto 2017 - Actualmente.</small>
                                <br>
                                <small>Barcelona, España.</small>
                                <br>
                                <a href="http://www.expertustech.es/"
                                    target="_blank"><small>http://www.expertustech.es/</small></a>
                            </p>

                            <div class="profile-item-batch">
                                <h4>PUESTO</h4>

                                <p>Senior frontend developer.</p>
                            </div>

                            <div class="profile-item-batch">
                                <h4>FUNCIONES</h4>

                                <ul>
                                    <li>Desarrollador frontend de plataforma web APP de tráfico masivo para venta de
                                        entradas al gran publico. Clientes directos: FC Barcelona, Real Madrid,
                                        At.Madrid, El Corte Inglés, etc.</li>
                                    <li>Responsable de analítica (GTM, DTM). Proyecto HIKE <a
                                            href="http://hikeproject.com/" target="_blank">http://hikeproject.com/</a>
                                    </li>
                                    <li>Desarrollador de herramientas internas para renderizaciones 3D con Nodejs,
                                        Python (Cinema4d) y shell script.</li>
                                </ul>
                            </div>

                            <div class="profile-item-batch">
                                <h4>PROYECTOS DESTACADOS</h4>

                                <ul>
                                    <li>FC Barcelona. Plataforma oficial de venta de entradas online. <a
                                            href="https://www.fcbarcelona.es/es/"
                                            target="_blank">https://www.fcbarcelona.es/es/</a></li>
                                    <li>El Corte Inglés. Plataforma oficial de venta de entradas online.
                                        <a href="https://www.elcorteingles.es/entradas/"
                                            target="_blank">https://www.elcorteingles.es/entradas/</a>
                                    </li>
                                    <li>Atlético de Madrid. Plataforma oficial de venta de entradas
                                        online. <a href="https://www.atleticodemadrid.com/entradas"
                                            target="_blank">https://www.atleticodemadrid.com/entradas</a>
                                    </li>
                                    <li>Getafe FC. Plataforma oficial de venta de entradas online. <a
                                            href="https://getafecf.expertustech.com/open#/eventshome"
                                            target="_blank">https://getafecf.expertustech.com/open#/eventshome</a>
                                    </li>
                                    <li>Albacete Balompié. Plataforma oficial de venta de entradas
                                        online. <a href="https://albacetebalompie.expertustech.com/open#/eventshome"
                                            target="_blank">https://albacetebalompie.expertustech.com/open#/eventshome</a>
                                    </li>
                                    <li>Elche CF. Plataforma oficial de venta de entradas online. <a
                                            href="https://elchecf.expertustech.com/open#/eventshome"
                                            target="_blank">https://elchecf.expertustech.com/open#/eventshome</a>
                                    </li>
                                </ul>

                                <div class="row">
                                    <div class="col-md-6 d-none d-sm-none d-md-block">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe class="embed-responsive-item"
                                                src="https://www.youtube.com/embed/6Ztn4GdNOZg"
                                                allowfullscreen></iframe>
                                        </div>
                                    </div>

                                    <div class="col-md-6 d-none d-sm-none d-md-block">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe class="embed-responsive-item"
                                                src="https://www.youtube.com/embed/o--cbgoTzOY"
                                                allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="profile-item-batch">
                                <h4>TECNOLOGÍAS</h4>

                                <ul>
                                    <li class="profile-item-batch-frontend">
                                        Frontend
                                        <span class="badge">JavaScript ES5 ES6 ES*</span> <span class="badge">
                                                React</span>
                                        <span class="badge">Redux</span>
                                        <span class="badge">Typescript</span>
                                        <span class="badge">AngularJS</span>
                                        <span class="badge">RequireJS</span>
                                        <span class="badge">Analítica (GTM, DTM)</span>
                                        <span class="badge">Jasmine</span>
                                        <span class="badge">Mocha</span>
                                        <span class="badge">Bootstrap</span>
                                        <span class="badge">d3 (svg)</span>
                                        <span class="badge">Konva (canvas)</span>
                                        <span class="badge">Grunt</span>
                                        <span class="badge">Gulp</span>
                                        <span class="badge">HTML</span>
                                        <span class="badge">CSS</span>
                                        <span class="badge">Sass</span>
                                        <span class="badge">Less</span>
                                    </li>

                                    <li class="profile-item-batch-backend">
                                        Backend
                                        <span class="badge">Nodejs</span>
                                        <span class="badge">Cinema4d (Python)</span>
                                        <span class="badge">Java (Play Framework)</span>
                                        <span class="badge">Shell script</span>
                                    </li>

                                    <li class="profile-item-batch-sistemas">
                                        Sistemas
                                        <span class="badge">Linux</span>
                                        <span class="badge">Windows</span>
                                        <span class="badge">MAC</span>
                                    </li>

                                    <li class="profile-item-batch-versiones">
                                        Gestor de versiones
                                        <span class="badge">Mercurial</span>
                                        <span class="badge">Github</span>
                                    </li>

                                    <li class="profile-item-batch-dependencias">
                                        Gestores de dependencias
                                        <span class="badge">npm</span>
                                    </li>

                                    <li class="profile-item-batch-ma">
                                        Metodologías ágiles
                                        <span class="badge">Scrum</span>
                                    </li>

                                    <li class="profile-item-batch-despliegues">
                                        Despliegues
                                        <span class="badge">Jenkins</span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-2 d-none d-sm-none d-md-block">
                            <a href="http://www.expertustech.es/" target="_blank">
                                <img class="img-fluid" src="img/expertus.png" alt="Expertus Technology">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="profile-item">
                    <div class="row">
                        <div class="col-md-10">
                            <h3 class="media-heading">INNOFIS</h3>

                            <p>
                                <small>Marzo de 2017 - Agosto de 2017.</small>
                                <br>
                                <small>Barcelona, España.</small>
                                <br>
                                <a href="https://crealogix.com/es/"
                                    target="_blank"><small>https://crealogix.com/es/</small></a>
                            </p>

                            <div class="profile-item-batch">
                                <h4>PUESTO</h4>

                                <p>Fullstack developer.</p>
                            </div>

                            <div class="profile-item-batch">
                                <h4>FUNCIONES</h4>

                                <ul>
                                    <li>Desarrollador (Frontend y Backend) de aplicaciones y portales web.</li>
                                    <li>Resolución de incidencias y mantenimiento de proyectos.</li>
                                    <li>Encargado del Workflow y gestión de los distintos repositorios Github.
                                    </li>
                                    <li>Documentación de proyectos.</li>
                                </ul>
                            </div>

                            <div class="profile-item-batch">
                                <h4>PROYECTOS DESTACADOS</h4>

                                <ul>
                                    <li>Portal corporativo Danone S.A. <a href="https://www.alimentasonrisas.es/"
                                            target="_blank">https://www.alimentasonrisas.es/</a></li>
                                    <li>Web APP FontVella "Eres Impulso" <a href="https://eresimpulso.fontvella.es/"
                                            target="_blank">https://eresimpulso.fontvella.es/</a></li>
                                </ul>
                            </div>

                            <div class="profile-item-batch">
                                <h4>TECNOLOGÍAS</h4>

                                <ul>
                                    <li class="profile-item-batch-frontend">
                                        Frontend
                                        <span class="badge">JavaScript</span>
                                        <span class="badge">Angular2</span>
                                        <span class="badge">AngularJS</span>
                                        <span class="badge">jQuery</span>
                                        <span class="badge">TypeScript</span>
                                        <span class="badge">Bootstrap</span>
                                        <span class="badge">Foundation</span>
                                        <span class="badge">HTML</span>
                                        <span class="badge">CSS</span>
                                        <span class="badge">Sass</span>
                                        <span class="badge">Less</span>
                                        <span class="badge">Grunt</span>
                                        <span class="badge">Gulp</span>
                                    </li>

                                    <li class="profile-item-batch-backend">
                                        Backend
                                        <span class="badge">PHP</span>
                                        <span class="badge">CodeIgniter</span>
                                        <span class="badge">Twig</span>
                                        <span class="badge">Blade</span>
                                        <span class="badge">MySQL</span>
                                    </li>

                                    <li class="profile-item-batch-sistemas">
                                        Sistemas
                                        <span class="badge">Linux</span>
                                    </li>

                                    <li class="profile-item-batch-versiones">
                                        Gestor de versiones
                                        <span class="badge">Github</span>
                                    </li>

                                    <li class="profile-item-batch-dependencias">
                                        Gestores de dependencias
                                        <span class="badge">npm</span>
                                        <span class="badge">Composer</span>
                                        <span class="badge">Bower</span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-2 d-none d-sm-none d-md-block">
                            <a href="https://crealogix.com/es/" target="_blank">
                                <img class="img-fluid" src="img/innofis.png" alt="Innofis">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="profile-item">
                    <div class="row">
                        <div class="col-md-10">
                            <h3 class="media-heading">OPEN XIMDEX EVOLUTION S.L.</h3>

                            <p>
                                <small>Octubre de 2014 - Marzo de 2017.</small>
                                <br>
                                <small>Sevilla, España.</small>
                                <br>
                                <a href="https://www.ximdex.com/"
                                    target="_blank"><small>https://www.ximdex.com/</small></a>
                            </p>

                            <div class="profile-item-batch">
                                <h4>PUESTO</h4>

                                <p>Fullstack developer / Soporte técnico.</p>
                            </div>

                            <div class="profile-item-batch">
                                <h4>FUNCIONES</h4>

                                <ul>
                                    <li>Desarrollador (programador, maquetador y diseñador) de aplicaciones web.
                                    </li>
                                    <li>Desarrollador y técnico de soporte con Ximdex CMS.</li>
                                    <li>Desarrollo de los distintos módulos de Ximdex CMS: XFIND, XOWL, XLYRE,
                                        XRANK.</li>
                                    <li>Despliegue de proyectos en producción junto a tareas de test y
                                        mantenimiento.</li>
                                    <li>Documentación de proyectos.</li>
                                    <li>Contacto directo con el cliente mediante soporte técnico.</li>
                                </ul>
                            </div>

                            <div class="profile-item-batch">
                                <h4>PROYECTOS DESTACADOS</h4>

                                <ul>
                                    <li>
                                        Ximdex CMS: CMS semántico basado en tecnología XML. <a
                                            href="http://demo.ximdex.com/xcms/"
                                            target="_blank">http://demo.ximdex.com/xcms/</a>
                                    </li>
                                    <li>
                                        Demos módulos Ximdex CMS. <a href="http://demo.ximdex.com"
                                            target="_blank">http://demo.ximdex.com</a>
                                    </li>
                                    <li>
                                        XFIND Demo. <a href="http://demo.ximdex.com/xfind/"
                                            target="_blank">http://demo.ximdex.com/xfind/</a>
                                    </li>
                                    <li>
                                        XOWL Demo. <a href="http://demo.ximdex.com/xowl/"
                                            target="_blank">http://demo.ximdex.com/xowl/</a>
                                    </li>
                                    <li>
                                        XHAWK Demo. <a href="http://demo.ximdex.com/xhawk/"
                                            target="_blank">http://demo.ximdex.com/xhawk/</a>
                                    </li>
                                    <li>
                                        Web corporativa Open Ximdex Evolution S.L. <a href="http://www.ximdex.com/"
                                            target="_blank">http://www.ximdex.com/</a>
                                    </li>
                                    <li>
                                        Portal web AEPD: Agencia Española de Protección de Datos. <a
                                            href="http://www.agpd.es/" target="_blank">http://www.agpd.es/</a>
                                    </li>
                                    <li>
                                        Portal web BRAE: Biblioteca de recursos para el aprendizaje del Español.
                                        <a href="http://brae.redhispanistas.es/"
                                            target="_blank">http://brae.redhispanistas.es/</a>
                                    </li>
                                    <li>
                                        Web corporativa United English Academy S.L. <a
                                            href="http://www.unitedenglish.es/"
                                            target=" _blank">http://www.unitedenglish.es/</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="profile-item-batch">
                                <h4>TECNOLOGÍAS</h4>

                                <ul>
                                    <li class="profile-item-batch-frontend">
                                        Frontend
                                        <span class="badge">JavaScript</span>
                                        <span class="badge">jQuery</span>
                                        <span class="badge">Riot.js</span>
                                        <span class="badge">AngularJS</span>
                                        <span class="badge">CoffeeScript</span>
                                        <span class="badge">Bootstrap</span>
                                        <span class="badge">Kibana</span>
                                        <span class="badge">HTML</span>
                                        <span class="badge">CSS</span>
                                        <span class="badge">Less</span>
                                        <span class="badge">Sass</span>
                                        <span class="badge">Grunt</span>
                                        <span class="badge">Gulp</span>
                                    </li>

                                    <li class="profile-item-batch-backend">
                                        Backend
                                        <span class="badge">PHP</span>
                                        <span class="badge">Twig</span>
                                        <span class="badge">Blade</span>
                                        <span class="badge">Smarty</span>
                                        <span class="badge">MySQL</span>
                                        <span class="badge">Apache Solr</span>
                                        <span class="badge">ElasticSearch</span>
                                    </li>

                                    <li class="profile-item-batch-sistemas">
                                        Sistemas
                                        <span class="badge">Linux</span>
                                        <span class="badge">Mac OS X</span>
                                        <span class="badge">Windows</span>
                                    </li>

                                    <li class="profile-item-batch-versiones">
                                        Gestor de versiones
                                        <span class="badge">Github</span>
                                    </li>

                                    <li class="profile-item-batch-dependencias">
                                        Gestores de dependencias
                                        <span class="badge">npm</span>
                                        <span class="badge">Composer</span>
                                        <span class="badge">Bower</span>
                                    </li>

                                    <li class="profile-item-batch-otros">
                                        Otras tecnologías a destacar
                                        <span class="badge">XML</span>
                                        <span class="badge">XSLT</span>
                                        <span class="badge">RELAX-NG</span>
                                        <span class="badge">JSON</span>
                                        <span class="badge">JSON-LD</span>
                                    </li>

                                    <li class="profile-item-batch-accesibilidad">
                                        Accesibilidad
                                        <span class="badge">UX</span>
                                        <span class="badge">UI.WCAG 2.0.</span>
                                    </li>

                                    <li class="profile-item-batch-dgrafico">
                                        Diseño gráfico
                                        <span class="badge">Illustrator</span>
                                        <span class="badge">Photoshop</span>
                                        <span class="badge">Fireworks</span>
                                        <span class="badge">Inkscape</span>
                                        <span class="badge">Gimp</span>
                                    </li>

                                    <li class="profile-item-batch-ma">
                                        Metodologías ágiles
                                        <span class="badge">Scrum</span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-2 d-none d-sm-none d-md-block">
                            <a href="https://www.ximdex.com/" target="_blank">
                                <img class="img-fluid" src="img/ximdex.png" alt="Open Ximdex Evolution S.L.">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="profile-item">
                    <div class="row">
                        <div class="col-md-10">
                            <h3 class="media-heading">EXISTO DISEÑO WEB</h3>

                            <p>
                                <small>Junio de 2012 - Octubre de 2014.</small>
                                <br>
                                <small>Sevilla, España.</small>
                                <br>
                                <a href="https://www.existo.es/"
                                    target="_blank"><small>https://www.existo.es/</small></a>
                            </p>

                            <div class="profile-item-batch">
                                <h4>PUESTO</h4>

                                <p>Fullstack developer.</p>
                            </div>

                            <div class="profile-item-batch">
                                <h4>FUNCIONES</h4>

                                <ul>
                                    <li>Desarrollador de múltiples portales web corporativos y tiendas online
                                        (e-commerce).</li>
                                    <li>Encargado del desarrollo del CMS propío de la empresa (e-conecta).</li>
                                    <li>Técnico de soporte con e-conecta.</li>
                                </ul>
                            </div>

                            <div class="profile-item-batch">
                                <h4>PROYECTOS DESTACADOS</h4>

                                <ul>
                                    <li>
                                        Portal web Centro BTT Nevada. <a href="http://www.centrobttnevada.es/"
                                            targt="_blank">http://www.centrobttnevada.es/</a>
                                    </li>
                                    <li>
                                        Web corporativa Grupo Hispasat. <a href="http://www.hispasat.com/"
                                            targt="_blank">http://www.hispasat.com/</a>
                                    </li>
                                    <li>
                                        Web corporativa Mercer Hoteles Barcelona. <a
                                            href="http://www.mercerbarcelona.com/"
                                            targt="_blank">http://www.mercerbarcelona.com/</a>
                                    </li>
                                    <li>
                                        Tienda online Tramas + Malbatex S.L. <a href="http://www.tramasmas.com/"
                                            targt="_blank">http://www.tramasmas.com/</a>
                                    </li>
                                    <li>
                                        Portal web "Sevilla si" <a href="http://www.sevillasi.com/"
                                            targt="_blank">http://www.sevillasi.com/</a>
                                    </li>
                                    <li>
                                        Web corporativa Planvalore Avales Inmobiliarios, S.A. <a
                                            href="http://www.planvalore.com/"
                                            targt="_blank">http://www.planvalore.com/</a>
                                    </li>
                                    <li>
                                        Web corporativa Fourup. <a href="http://www.fourup.es/"
                                            targt="_blank">http://www.fourup.es/</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="profile-item-batch">
                                <h4>TECNOLOGÍAS</h4>

                                <ul>
                                    <li class="profile-item-batch-frontend">
                                        Frontend
                                        <span class="badge">JavaScript</span>
                                        <span class="badge">jQuery</span>
                                        <span class="badge">Bootstrap</span>
                                        <span class="badge">HTML</span>
                                        <span class="badge">CSS3</span>
                                        <span class="badge">Less</span>
                                        <span class="badge">Sass</span>
                                    </li>
                                    <li class="profile-item-batch-backend">
                                        Backend
                                        <span class="badge">PHP</span>
                                        <span class="badge">Smarty</span>
                                        <span class="badge">MySQL</span>
                                    </li>
                                    <li class="profile-item-batch-sistemas">
                                        Sistemas
                                        <span class="badge">Mac OS X</span>
                                        <span class="badge">Windows</span>
                                    </li>
                                    <li class="profile-item-batch-dgrafico">
                                        Diseño gráfico
                                        <span class="badge">Illustrator</span>
                                        <span class="badge">Photoshop</span>
                                        <span class="badge">Fireworks</span>
                                    </li>
                                    <li class="profile-item-batch-ma">
                                        Metodologías ágiles
                                        <span class="badge">Lean</span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-2 d-none d-sm-none d-md-block">
                            <a href="https://www.existo.es/" target="_blank">
                                <img class="img-fluid" src="img/existo.svg" alt="Existo Diseño Web">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="profile-item">
                    <div class="row">
                        <div class="col-md-10">
                            <h3 class="media-heading">FREELANCE</h3>

                            <p>
                                <small>Febrero de 2012 - Mayo de 2012.</small>
                                <br>
                                <small>Sevilla, España.</small>
                            </p>

                            <div class="profile-item-batch">
                                <h4>PUESTO</h4>

                                <p>Desarrollador superior de páginas web.</p>
                            </div>

                            <div class="profile-item-batch">
                                <h4>FUNCIONES</h4>

                                <ul>
                                    <li>Desarrollo íntegro de la plataforma online para estudiantes del
                                        Instituto Andaluz Interuniversitario de Criminología, Universidad de
                                        Sevilla.</li>
                                    <li>Desarrollador (Frontend y Backend) de aplicaciones y portales web.</li>
                                </ul>
                            </div>

                            <div class="profile-item-batch">
                                <h4>PROYECTOS DESTACADOS</h4>

                                <ul>
                                    <li>
                                        Instituto Andaluz Interuniversitario de Criminología, Universidad de
                                        Sevilla. <a href="http://www.iaic.us.es/"
                                            target="_blank">http://www.iaic.us.es/</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="profile-item-batch">
                                <h4>TECNOLOGÍAS</h4>

                                <ul>
                                    <li class="profile-item-batch-frontend">
                                        Frontend
                                        <span class="badge">JavaScript</span>
                                        <span class="badge">jQuery</span>
                                        <span class="badge">HTML</span>
                                        <span class="badge">CSS</span>
                                    </li>
                                    <li class="profile-item-batch-backend">
                                        Backend
                                        <span class="badge">PHP</span>
                                        <span class="badge">MySQL</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="profile-item">
                    <div class="row">
                        <div class="col-md-10">
                            <h3 class="media-heading">GAESA S.L. GABINETE ANDALUZ DE ESTUDIOS Y ACTIVIDADES</h3>

                            <p>
                                <small>Julio de 2010 - Enero de 2012.</small>
                                <br>
                                <small>Sevilla, España.</small>
                            </p>

                            <div class="profile-item-batch">
                                <h4>PUESTO</h4>

                                <p>Desarrollador superior de páginas web.</p>
                            </div>

                            <div class="profile-item-batch">
                                <h4>FUNCIONES</h4>

                                <ul>
                                    <li>Desarrollador de plataformas web para estudiantes (e-learning) y
                                        aplicaciones multimedia desarrolladas con Adobe Flash (ActionScript
                                        3.0).</li>
                                </ul>
                            </div>

                            <div class="profile-item-batch">
                                <h4>TECNOLOGÍAS</h4>

                                <ul>
                                    <li class="profile-item-batch-frontend">
                                        Frontend
                                        <span class="badge">JavaScript</span>
                                        <span class="badge">HTML</span>
                                        <span class="badge">CSS</span>
                                        <span class="badge">Adobe Flash (ActionScript 3)</span>
                                    </li>
                                    <li class="profile-item-batch-backend">
                                        Backend
                                        <span class="badge">PHP</span>
                                        <span class="badge">MySQL</span>
                                    </li>
                                    <li class="profile-item-batch-sistemas">
                                        Sistemas
                                        <span class="badge">Windows</span>
                                    </li>
                                    <li class="profile-item-batch-dgrafico">
                                        Diseño gráfico
                                        <span class="badge">Illustrator</span>
                                        <span class="badge">Photoshop</span>
                                        <span class="badge">Fireworks</span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-2 d-none d-sm-none d-md-block">
                            <img class="img-fluid" src="img/gaesa.jpeg"
                                alt="Gaesa S.L. Gabinete Andaluz de Estudios y Actividades">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>