<!doctype html>
<html lang="es" dir="ltr">

{{! Head }}
{{> ../../partials/head }}

<body>
    <div id="main-wrapper" class="main-wrapper">
        {{! Page Preloader }}
        {{> ../../partials/preloader }}
        {{! Main content }}
        {{> intro }}
        {{> skills }}
        {{> experience }}
        {{> education }}
        {{! Footer }}
        {{> ../../partials/footer }}
    </div>

    {{! Scripts }}
    {{> ../../partials/script }}
</body>

</html>