<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <!-- Profile Image -->
                <div class="profile-img d-none d-sm-none d-md-block">
                    <img class="img-fluid" src="./img/profile.jpg" alt="Ángel Luis Sánchez Pizarro" />
                </div>

                <ul class="social-icon">
                    <li>
                        <a href="https://github.com/alsanchez86" target="_blank">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/in/sanchezpizarro/" target="_blank">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://twitter.com/_sanchezpizarro" target="_blank">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="mailto:sanchezpizarro86@gmail.com">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>

                <div class="text-center">
                    <a class="btn btn-dark btn-sm" href="https://github.com/alsanchez86/alsanchez86.github.io/raw/master/files/cv_angel_luis_sanchez_pizarro.pdf" target="_blank">
                        CV PDF
                        <br>
                        <small>(Actualizado Agosto 2019)</small>
                    </a>
                </div>
            </div>

            <div class="col-md-8">
                <div class="name-wrapper">
                    <h1 class="name">
                        Ángel Sánchez
                    </h1>

                    <span>
                        Senior Frontend Developer
                    </span>
                </div>

                <p>
                    Desarrollador de software y aplicaciones web (Full Stack. Frontend y backend).
                </p>

                <p>
                    Experiencia en muchas "frecuencias del espectro" del desarrollo de software. Desde la
                    gestión de servidores, bases de datos y administración de sistemas, hasta el diseño
                    de interfaces (UI, UX), pasando por el desarrollo completo de las aplicaciones web frontend
                    y backend, donde desempeño la mayor parte de mi actividad como desarrollador.
                </p>

                <p>
                    Trabajador en equipo, resolutivo, conocedor de las buenas prácticas y del código limpio.
                </p>

                <div class="row">
                    <div class="col-md-3">
                        <div class="personal-details">
                            <strong>Fecha de nacimiento</strong>
                            <small>21 de Julio de 1986</small>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="personal-details">
                            <strong>Nacionalidad</strong>
                            <small>Española</small>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="personal-details">
                            <strong>Idiomas</strong>
                            <small>
                                Español (Nativo).
                                <br>
                                Inglés (Competencia profesional).
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>