<section class="skills-wrapper section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="section-title">
                    <h2>HABILIDADES</h2>
                </div>
            </div>

            <div class="col-lg-10">
                <div class="row">
                    <div class="col-md-6">
                        <div class="progress-wrapper progress-wrapper-frontend">
                            <h3>FRONTEND</h3>

                            {{#skills.frontend}}
                            {{>progress_item}}
                            {{/skills.frontend}}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="progress-wrapper progress-wrapper-backend">
                            <h3>BACKEND</h3>

                            {{#skills.backend}}
                            {{>progress_item}}
                            {{/skills.backend}}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="progress-wrapper progress-wrapper-sistemas">
                            <h3>SISTEMAS</h3>

                            {{#skills.systems}}
                            {{>progress_item}}
                            {{/skills.systems}}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="progress-wrapper progress-wrapper-versiones">
                            <h3>GESTORES DE VERSIONES</h3>

                            {{#skills.versions}}
                            {{>progress_item}}
                            {{/skills.versions}}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="progress-wrapper progress-wrapper-dependencias">
                            <h3>GESTORES DE DEPENDENCIAS</h3>

                            {{#skills.dependencies}}
                            {{>progress_item}}
                            {{/skills.dependencies}}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="progress-wrapper progress-wrapper-otros">
                            <h3>OTRAS TECNOLOGÍAS A DESTACAR</h3>

                            {{#skills.others}}
                            {{>progress_item}}
                            {{/skills.others}}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="progress-wrapper progress-wrapper-accesibilidad">
                            <h3>ACCESIBILIDAD</h3>

                            {{#skills.accesibility}}
                            {{>progress_item}}
                            {{/skills.accesibility}}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="progress-wrapper progress-wrapper-ma">
                            <h3>METODOLOGÍAS ÁGILES</h3>

                            {{#skills.agile}}
                            {{>progress_item}}
                            {{/skills.agile}}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="progress-wrapper progress-wrapper-dgrafico">
                            <h3>DISEÑO GRÁFICO</h3>

                            {{#skills.dessign}}
                            {{>progress_item}}
                            {{/skills.dessign}}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>