a.portfolio-item {
    display: block;
    width: 100%;
    height: 250px;
    margin-bottom: 30px;

    border: 1px solid $color_border;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
