<div class="experience-item">
    <div class="row">
        <div class="col-md-10">
            <h3 class="media-heading">
                {{ name }}
            </h3>

            <p>
                {{ date }}
                <br>
                {{ city }}
                <br>
                <a href="{{ link }}" target="_blank">{{ link }}</a>
            </p>

            <div class="experience-item-batch">
                <h4>PUESTO</h4>

                {{ position }}
            </div>

            <div class="experience-item-batch">
                <h4>FUNCIONES</h4>

                <ul>
                    {{#functions}}
                    <li>{{ name }}</li>
                    {{/functions}}
                </ul>
            </div>

            <div class="experience-item-batch">
                <h4>PROYECTOS DESTACADOS</h4>

                <ul>
                    {{#projects}}
                    <li>
                        <a href="{{ link }}" target="_blank">{{ name }}</a>
                    </li>
                    {{/projects}}
                </ul>
            </div>

            <div class="experience-item-batch">
                <h4>TECNOLOGÍAS</h4>

                <ul>
                    {{#techs}}
                    <li class="experience-item-batch-{{ type }}">
                        {{ name }}:

                        {{#items}}
                        <span class="badge">{{ name }}</span>
                        {{/items}}
                    </li>
                    {{/techs}}
                </ul>
            </div>
        </div>

        <div class="col-md-2 d-none d-sm-none d-md-block">
            {{#image_path}}
            <a href="{{ link }}" target="_blank">
                <img class="img-fluid" src="{{ path }}" alt="{{ name }}">
            </a>
            {{/image_path}}
        </div>
    </div>
</div>