<section class="skills-wrapper section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <h2 class="section-title">Habilidades</h2>
            </div>

            <div class="col-lg-10">
                <div class="row">
                    <div class="col-md-6">
                        <div id="progress-wrapper-frontend" class="progress-wrapper progress-wrapper-frontend">
                            <h3>Frontend</h3>

                            {{#skills.frontend}}
                            {{>skills_item}}
                            {{/skills.frontend}}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div id="progress-wrapper-backend" class="progress-wrapper progress-wrapper-backend">
                            <h3>Backend</h3>

                            {{#skills.backend}}
                            {{>skills_item}}
                            {{/skills.backend}}
                        </div>

                        <div id="progress-wrapper-sistemas" class="progress-wrapper progress-wrapper-sistemas">
                            <h3>Sistemas</h3>

                            {{#skills.systems}}
                            {{>skills_item}}
                            {{/skills.systems}}
                        </div>

                        <div id="progress-wrapper-versiones" class="progress-wrapper progress-wrapper-versiones">
                            <h3>Gestores de versiones</h3>

                            {{#skills.versions}}
                            {{>skills_item}}
                            {{/skills.versions}}
                        </div>

                        <div id="progress-wrapper-dependencias" class="progress-wrapper progress-wrapper-dependencias">
                            <h3>Gestores de dependencias</h3>

                            {{#skills.dependencies}}
                            {{>skills_item}}
                            {{/skills.dependencies}}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div id="progress-wrapper-otros" class="progress-wrapper progress-wrapper-otros">
                            <h3>Otras tecnologías a destacar</h3>

                            {{#skills.others}}
                            {{>skills_item}}
                            {{/skills.others}}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div id="progress-wrapper-ma" class="progress-wrapper progress-wrapper-ma">
                            <h3>Metodologías ágiles</h3>

                            {{#skills.agile}}
                            {{>skills_item}}
                            {{/skills.agile}}
                        </div>

                        <div id="progress-wrapper-accesibilidad" class="progress-wrapper progress-wrapper-accesibilidad">
                            <h3>Accesibilidad</h3>

                            {{#skills.accesibility}}
                            {{>skills_item}}
                            {{/skills.accesibility}}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div id="progress-wrapper-dgrafico" class="progress-wrapper progress-wrapper-dgrafico">
                            <h3>Diseño gráfico</h3>

                            {{#skills.dessign}}
                            {{>skills_item}}
                            {{/skills.dessign}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>