<section>
    <div class="main-section">
        <header>
            <h1 class="text-center">
                Contacto
            </h1>
        </header>

        <ul>
            <li>686610257 (Mobile)</li>
            <li>sanchezpizarro86@gmail.com</li>
            <li>www.linkedin.com/in/ sanchezpizarro (LinkedIn)</li>
            <li>github.com/alsanchez86</li>
        </ul>
    </div>
</section>