<section>
    <div class="main-section">
        <div class="container">
            <div class="main-content">
                <ul>
                    <li>686610257</li>
                    <li>
                        <a href="mailto:sanchezpizarro86@gmail.com">sanchezpizarro86@gmail.com</a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/in/sanchezpizarro/" target="_blank">https://www.linkedin.com/in/sanchezpizarro/</a>
                    </li>

                    <li>
                        <a href="https://github.com/alsanchez86" target="_blank">https://github.com/alsanchez86</a>
                    </li>

                    <li>
                        <a href="https://sourcerer.io/alsanchez86" target="_blank">https://sourcerer.io/alsanchez86</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>