<section>
    <div class="main-section">
        <div class="container">
            <div class="main-content">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/DUzEYcR2VtM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>