<div class="list-group">
  <a class="list-group-item list-group-item-action" href="#perfil-inicio"><i class="fas fa-male"></i> Perfil</a>
  <a class="list-group-item list-group-item-action" href="#perfil-experiencia"><i class="fas fa-flask"></i> Experiencia</a>
  <a class="list-group-item list-group-item-action" href="#perfil-educacion"><i class="fas fa-graduation-cap"></i> Educación</a>
</div>
