<div class="list-group">
  <a class="list-group-item list-group-item-action" href="#perfil-inicio">Inicio</a>
  <a class="list-group-item list-group-item-action" href="#perfil-tecnologico">Perfil tecnológico</a>
  <a class="list-group-item list-group-item-action" href="#perfil-experiencia">Experiencia</a>
  <a class="list-group-item list-group-item-action" href="#perfil-educacion">Educación</a>
</div>
