<h3>
    {{ position }}
    <small>en <strong>{{ name }}</strong></small>
</h3>

<p>
    <img class="img-fluid d-block" src="{{ img_folder }}/expertus.png" alt="Expertus Technology">
</p>

<p>
    <a href="http://www.expertustech.es/" target="_blank">http://www.expertustech.es/</a>
    <br>
    Barcelona, Cataluña, España
    <br>
    Agosto de 2017 - Actualidad
</p>

<ul>
    <li>Desarrollador frontend de plataforma web APP de tráfico masivo para venta de entradas al gran publico. Clientes
        directos: FC Barcelona, Real Madrid, At. Madrid, El Corte Inglés, entre otros.</li>
</ul>

<h4>
    Tecnologías:
</h4>

<p>
    Angular, AngularJS, Nodejs, Cinema4d (Python), RequireJS, Jasmine, Bootstrap, Scala, Java (Play Framework),
    Tracking (GTM, DTM), SVG, d3, Konva, Mercurial, Typescript, Moment.js
</p>