<div class="perfil-company">
    <h3>
        {{ position }} <small>en <strong>{{ name }}</strong></small>
    </h3>

    {{#image.path}}
    <p>
        <img class="img-fluid img-company" src="{{ img_folder }}/{{ image.path }}" alt="{{ image.title }}">
    </p>
    {{/image.path}}

    <p>
        <a href="{{ link }}" target="_blank">{{ link }}</a>
        <br>
        {{ location }}
        <br>
        {{ date }}
    </p>

    <h4>
        Funciones:
    </h4>

    <ul>
        {{#functions}}
        <li>{{.}}</li>
        {{/functions}}
    </ul>

    <h4>
        Proyectos destacados:
    </h4>

    <ul>
        {{#projects}}
        <li><a href="{{projects.url}}" target="_blank">{{projects.name}}</a></li>
        {{/projects}}
    </ul>

    <h4>
        Tecnologías:
    </h4>

    <ul>
        {{#technologies}}
        <li>
            {{technologies.type}}: 
            {{#technologies.list}}
                <span class="badge badge-primary">{{.}}</span>
            {{/technologies.list}}
        </li>
        
        {{/technologies}}
    </ul>
</div>