<div class="experience-item">
    <div class="row">
        <div class="col-md-10">
            <h3 class="media-heading">
                {{ name }}
            </h3>

            <p>
                {{#company_link}}
                <a href="{{ link }}" target="_blank">
                    {{ link }}
                </a>
                <br>
                {{/company_link}}
                {{ date }}
                <br>
                {{ city }}
            </p>

            <div class="experience-item-batch">
                <h4>PUESTO</h4>

                <ul>
                    <li>{{ position }}</li>
                </ul>
            </div>

            <div class="experience-item-batch">
                <h4>FUNCIONES</h4>

                <ul>
                    {{#functions}}
                    <li>{{ name }}</li>
                    {{/functions}}
                </ul>
            </div>

            <div class="experience-item-batch">
                <h4>TECNOLOGÍAS</h4>

                <ul>
                    {{#techs}}
                    <li class="experience-item-batch-{{ type }}">
                        {{ name }}:&nbsp;
                        {{#items}}
                        <span class="badge">{{ name }}</span>
                        {{/items}}
                    </li>
                    {{/techs}}
                </ul>
            </div>

            <div class="experience-item-batch">
                {{! <h4>PROYECTOS DESTACADOS</h4> }}

                <div id="glide-slider-{{ id }}" class="glide invisible">
                    <div data-glide-el="track" class="glide__track">
                        <ul class="glide__slides">
                            {{! {{#embeds}}
                            {{! <li class="glide__slide">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ src "
                                        allowfullscreen></iframe>
                                </div>
                            </li> }}
                            {{! /embeds}}

                            {{#projects}}
                            <li class="glide__slide">
                                <a href="{{ link }}" target="{{ target }}" class="project-item"
                                    style="background-image: url({{ background }})">
                                    <div class="project-item-name">
                                        {{ name }}
                                    </div>
                                </a>
                            </li>
                            {{/projects}}
                        </ul>
                    </div>

                    <div class="glide-controls" data-glide-el="controls">
                        <button class="btn btn-link" data-glide-dir="<">&lt;</button>
                        <button class="btn btn-link" data-glide-dir=">">&gt;</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2 d-none d-sm-none d-md-block">
            {{#image_company_path}}
            <a href="{{ link }}" target="_blank">
                <img class="img-fluid" src="{{ img_path }}/{{ image_name }}" alt="{{ name }}">
            </a>
            {{/image_company_path}}
        </div>
    </div>
</div>