<!doctype html>
<html lang="es" dir="ltr">

{{> ../../partials/head }}

<body>
    <!-- Header page -->
    {{> ../../partials/header }}
    <!-- Page title -->
    {{> ../../partials/page_title }}
    <!-- Main section -->
    <div class="main-section">
        <div class="container">
            <div class="row">
                <div class="d-none col-md-block col-md-3">
                    <div class="main-aside">
                        {{> aside }}
                    </div>
                </div>

                <div class="col-12 col-md-9">
                    <div class="main-content" data-spy="scroll" data-target="#navbar-perfil" data-offset="0">
                        {{> perfil }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    {{> ../../partials/footer }}
    <!-- Spinner init loader -->
    {{> ../../partials/loader }}
    <!-- Scripts -->
    {{> ../../partials/script }}
</body>

</html>