<!doctype html>
<html lang="es" dir="ltr">

{{> ../../partials/head }}

<body>
    <!-- Header page -->
    {{> ../../partials/header }}
    <!-- Page title -->
    {{> ../../partials/page_title }}
    <!-- Main section -->
    <div class="main-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="main-aside">
                        {{!> aside }}
                        XXXXX
                    </div>                    
                </div>

                <div class="col-12 col-md-8">
                    <div class="main-content">
                        {{> perfil }}
                    </div>                    
                </div>
            </div>    
        </div>
    </div>    
    <!-- Footer -->
    {{> ../../partials/footer }}
    <!-- Spinner init loader -->
    {{> ../../partials/loader }}
    <!-- Scripts -->
    {{> ../../partials/script }}
</body>

</html>