<section>
    <div class="perfil-section">
        <div class="row">
            <div class="d-none d-md-block col-md-4">
                <div class="text-center">
                    <img class="img-fluid img-thumbnail" src="{{ img_folder }}/alsp.jpeg" alt="Ángel Luis Sánchez Pizarro">
                </div>
            </div>

            <div class="col-12 col-md-8">
                <header>
                    <h2 class="perfil-name" id="perfil-inicio">
                        Ángel Luis Sánchez Pizarro
                        <br>
                        <small>Senior Frontend Developer</small>
                    </h2>
                </header>

                <p>
                    <small>21 de Julio de 1986 (32 años).</small>
                    <br>
                    <small>Sevilla, España.</small>
                </p>

                <p>Desarrollador de software y aplicaciones web (Full Stack. Front-end & Back-end).</p>

                <p>Experiencia en muchas "frecuencias del espectro" del desarrollo de software. Desde la
                    gestión de
                    servidores, bases de datos y administración de sistemas, hasta el diseño de interfaces (UI,
                    UX), pasando por el desarrollo completo de las aplicaciones web Back-end y Front-end, donde
                    desempeño la mayor parte de mi actividadcomo desarrollador.
                </p>

                <p>Trabajador en equipo, resolutivo y conocedor de las buenas prácticas y del código limpio.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h4>Idiomas</h4>

                <ul>
                    <li>Español (Nativo).</li>
                    <li>Inglés (Competencia profesional).</li>
                </ul>
            </div>

            <div class="col-md-6">

                <h4>Premios</h4>

                <ul>
                    <li>1º Premio wibikes.com. Ranking 2014.</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="perfil-section">
        {{! Experiencia }}
        <h2 id="perfil-experiencia">Experiencia</h2>

        {{# companies}}
        {{> company }}
        {{/ companies}}
    </div>

    <div class="perfil-section">
        {{! Educación }}
        <h2 id="perfil-educacion">Educación</h2>

        <ul>
            {{# education}}
            <li>
                {{ location }}
                <br>
                {{ name }}
            </li>
            {{/ education}}
        </ul>
    </div>
</section>