<section>
    <div class="main-section">
        <header>
            <h1>
                Perfil
            </h1>
        </header>

        <h2>
            Ángel Luis Sánchez Pizarro
        </h2>

        <p>
            Senior Frontend Developer en Expertus Technology
            <br>
            Barcelona, Cataluña, España
        </p>

        <h3>
            Aptitudes principales
        </h3>

        <ul>
            <li>JavaScript</li>
            <li>AngularJS</li>
            <li>Node.js</li>
        </ul>

        <h3>
            Languages
        </h3>

        <ul>
            <li>Español (Native or Bilingual)</li>
            <li>Inglés (Professional Working)</li>
        </ul>

        <h3>
            Premios
        </h3>

        <ul>
            <li>1o Premio wibikes.com. Ranking 2014.</li>
        </ul>

        <h2>
            Extracto
        </h2>

        <p>
            Desarrollador de software y aplicaciones web (Full Stack. Front-end & Back-end).
        </p>

        <p>
            Experiencia en muchas "frecuencias del espectro" del desarrollo de software. Desde la gestión de
            servidores, bases de datos y administración de sistemas, hasta el diseño de interfaces (UI, UX), pasando
            por el desarrollo completo de las aplicaciones web Back-end y Front-end, donde desempeño la mayor parte de
            mi actividadcomo desarrollador.
        </p>

        <p>
            Trabajador en equipo, resolutivo y conocedor de las buenas prácticas y del código limpio.
        </p>

        <h2>
            Experiencia
        </h2>

        <h3>
            Senior Frontend Developer
            <small>en <strong>Expertus Technology</strong></small>
        </h3>

        <p>
            <img src="{{ img_folder }}/expertus.png" alt="Expertus Technology">
        </p>

        <p>
            <a href="http://www.expertustech.es/" target="_blank">http://www.expertustech.es/</a>
            <br>
            Barcelona, España
            <br>
            Agosto de 2017 - Actualidad
        </p>

        <ul>
            <li>Desarrollador frontend de plataforma web APP de tráfico masivo para venta de entradas al gran publico.
                Clientes directos: FC Barcelona, Real Madrid, At. Madrid, El Corte Inglés, entre otros.</li>
        </ul>

        <h4>
            Tecnologías:
        </h4>

        <p>
            Angular, AngularJS, Nodejs, Cinema4d (Python), RequireJS, Jasmine, Bootstrap, Scala, Java (Play Framework),
            Tracking (GTM, DTM), SVG, d3, Konva, Mercurial, Typescript, Moment.js
        </p>

        <h3>
            Full-stack Developer
            <small>en <strong>Innofis</strong></small>
        </h3>

        <p>
            <img src="{{ img_folder }}/innofis.png" alt="Innofis">
        </p>

        <p>
            <a href="https://crealogix.com/es/" target="_blank">https://crealogix.com/es/</a>
            <br>
            Barcelona, España
            <br>
            Marzo de 2017 - Agosto de 2017
        </p>

        <ul>
            <li>Desarrollador (Frontend y Backend) de aplicaciones y portales web.</li>
            <li>Resolución de incidencias y mantenimiento de proyectos.</li>
            <li>Encargado del Workflow y gestión de los distintos repositorios Github.</li>
            <li>Documentación de proyectos.</li>
        </ul>

        <h3>
            Full-stack Developer / Soporte técnico
            <small>en <strong>Open Ximdex Evolution S.L.</strong></small>
        </h3>

        <p>
            <img src="{{ img_folder }}/ximdex.png" alt="Ximdex">
        </p>

        <p>
            <a href="https://www.ximdex.com/" target="_blank">https://www.ximdex.com/</a>
            <br>
            Sevilla, España
            <br>
            Octubre de 2014 - Marzo de 2017
        </p>

        <ul>
            <li>Desarrollador (programador, maquetador y diseñador) de aplicaciones web.</li>
            <li>Desarrollador y técnico de soporte con Ximdex CMS.</li>
            <li>Desarrollo de los distintos módulos de Ximdex CMS: XFIND, XOWL, XLYRE, XRANK.</li>
            <li>Despliegue de proyectos en producción junto a tareas de test y mantenimiento.</li>
            <li>Documentación de proyectos.</li>
            <li>Contacto directo con el cliente mediante soporte técnico.</li>
        </ul>

        <h3>
            Full-stack Developer
            <small>en <strong>Existo Diseño Web</strong></small>
        </h3>

        <p>
            <img src="{{ img_folder }}/existo.svg" alt="Existo">
        </p>

        <p>
            <a href="https://www.existo.es/" target="_blank">https://www.existo.es/</a>
            <br>
            Sevilla, España
            <br>
            Junio de 2012 - Octubre de 2014
        </p>

        <ul>
            <li>Desarrollador de múltiples portales web corporativos y tiendas online (e-commerce).</li>
            <li>Encargado del desarrollo del CMS propío de la empresa (e-conecta).</li>
            <li>Técnico de soporte con e-conecta.</li>
        </ul>

        <h3>
            Desarrollador superior de páginas web
            <small><strong>Freelance</strong></small>
        </h3>

        <p>
            Sevilla, España
            <br>
            Febrero de 2012 - Mayo de 2012
        </p>

        <ul>
            <li>Desarrollo íntegro de la plataforma online para estudiantes del Instituto Andaluz Interuniversitario de Criminología, Universidad de Sevilla.</li>
            <li>Desarrollador (Frontend y Backend) de aplicaciones y portales web.</li>
            <li></li>
            <li></li>
            <li></li>
        </ul>

        <h4>Tecnologías:</h4>

        <p>
            PHP, MySQL, JavaScript, jQuery, CSS, HTML
        </p>

        <h3>
            Desarrollador superior de páginas web
            <small>en <strong>Gaesa SL - Gabinete Andaluz de Estudios y Actividades</strong></small>
        </h3>

        <p>
            <img src="{{ img_folder }}/gaesa.jpeg" alt="Gaesa SL - Gabinete Andaluz de Estudios y Actividades">
        </p>

        <p>
            Sevilla, España
            <br>
            Julio de 2010 - Enero de 2012
        </p>

        <p>
            Desarrollador de plataformas web para estudiantes (e-learning) y aplicaciones multimedia desarrolladas con
            Adobe Flash (ActionScript 3.0).
        </p>

        <h2>
            Educación
        </h2>

        <ul>
            <li>
                CEA. Confederación de Empresarios de Andalucía.
                Diseño y Programación Web, Ciencias de la computación · (2008 - 2009)
            </li>

            <li>
                CEA. Confederación de Empresarios de Andalucía.
                Diseño Gráfico y Autoedición, Diseño gráfico · (2007 - 2008)
            </li>

            <li>
                I.E.S Torre de los Herberos
                Técnico Superior en Sistemas de Telecomunicación e
                Informáticos · (2005 - 2007)
            </li>
        </ul>
    </div>
</section>