<section>
    <div class="perfil-section">
        <div class="row">
            <div class="d-none d-md-block col-md-4">
                <div class="text-center">
                    <!--img class="img-fluid img-thumbnail" src="{{ img_folder }}/alsp.jpeg" alt="Ángel Luis Sánchez Pizarro"-->
                    <img class="img-fluid img-thumbnail" src="http://ximg.es/300x600/CCC/fff" alt="Ángel Luis Sánchez Pizarro">                    
                </div>
            </div>

            <div class="col-12 col-md-8">
                <header>
                    <h2 class="perfil-name" id="perfil-inicio">
                        Ángel Luis Sánchez Pizarro
                        <br>
                        <small>Senior Frontend Developer</small>
                    </h2>
                </header>

                <p class="font-italic">
                    21 de Julio de 1986.
                    <br>
                    Sevilla, España.
                </p>

                <p>Desarrollador de software y aplicaciones web (Full Stack. Front-end & Back-end).</p>

                <p>Experiencia en muchas "frecuencias del espectro" del desarrollo de software. Desde la
                    gestión de
                    servidores, bases de datos y administración de sistemas, hasta el diseño de interfaces (UI,
                    UX), pasando por el desarrollo completo de las aplicaciones web Back-end y Front-end, donde
                    desempeño la mayor parte de mi actividadcomo desarrollador.
                </p>

                <p>Trabajador en equipo, resolutivo y conocedor de las buenas prácticas y del código limpio.</p>

                <div class="row">
                    <div class="col-md-6">
                        <h4>
                            <i class="fas fa-globe-americas"></i>
                            Idiomas
                        </h4>

                        <ul>
                            <li>Español (Nativo).</li>
                            <li>Inglés (Competencia profesional).</li>
                        </ul>
                    </div>

                    <div class="col-md-6">

                        <h4>
                            <i class="fas fa-award"></i>
                            Premios
                        </h4>

                        <ul>
                            <li><a href="http://www.mtb-mountainbike.com/noticias/ampliada.asp?Id=1983" target="_blank">1º
                                    Premio wibikes.com. Ranking 2014.</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="progress-section">
            <div class="progress">
                <div class="progress-bar" style="width: 75%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">AngularJS</div>
            </div>

            <div class="progress">
                <div class="progress-bar" style="width: 40%" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">Angular</div>
            </div>

            <div class="progress">
                <div class="progress-bar" style="width: 40%" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">Typescript</div>
            </div>
        </div>        
    </div>

    <div class="perfil-section">
        {{! Experiencia }}
        <h2 id="perfil-experiencia">Experiencia</h2>

        {{# companies}}
        {{> company }}
        {{/ companies}}
    </div>

    <div class="perfil-section">
        {{! Educación }}
        <h2 id="perfil-educacion">Educación</h2>

        <ul>
            {{# education}}
            <li>
                {{ location }}
                <br>
                {{ name }}
            </li>
            {{/ education}}
        </ul>
    </div>
</section>